@import url("../../front_markup/resource/bundle/tailwindcss/tailwind-all.css");

:root {
  --var-border-color: #f5f5f5;
  --var-bg-color-gray: #fff;
  --font-Pretendard: "Pretendard", "Malgun Gothic", "맑은고딕", "sans-serif";
}

.sian__wrap {
  width: 100%;
}
/* //header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 56px;
}
header .logo {
  flex: 1;
}
header .logo svg {
  width: 104px;
}
.btn-alert {
  width: 36px;
  height: 36px;
}
.ico {
  display: block;
}
.ico-alert {
  width: 100%;
  height: 100%;
  background: url("./img/ico_alert.svg") no-repeat center;
}

.btn-hamguger {
  position: relative;
  width: 24px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
.btn-hamguger .bar {
  width: 100%;
  height: 2px;
  background-color: #000;
}
.header-flex {
  display: flex;
  gap: 4px;
}
.sian-content {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sian-content .section.walk .walk-txt {
  padding: calc(32 / 16 * 1rem) calc(16 / 16 * 1rem) 0;
  margin-bottom: calc(72 / 16 * 1rem);
}
.sian-content .section.walk .walk-img img {
  width: 100%;
  margin-bottom: calc(140 / 16 * 1rem);
}
.sian-content .section.walk .walk-img.walk-info {
  padding: calc(56 / 16 * 1rem) calc(16 / 16 * 1rem) 0;
  margin-bottom: 0;
}
.sian-content .section.walk .walk-img.walk-info img {
  width: fit-content;
  margin-bottom: 0;
}
.orange-btnbox {
  width: 100%;
  padding: 0 calc(16 / 16 * 1rem) calc(56 / 16 * 1rem);
}
.orange-btn {
  width: 100%;
  padding: calc(14 / 16 * 1rem) 0;
  background-color: #f58220;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: -0.32px;
  color: #fff;
}
.orange-btn img {
  width: 89px;
  height: 28px;
}
