/*
    공통값을 정의하는 css 
*/

/* 폰트 */
.font-type-h1 {font-size: 72px;font-weight: 800;line-height: 85px;}
.font-type-h2 {font-size: 28px;font-weight: 700;line-height: 33px;}
.font-type-h3 {font-size: 24px;font-weight: 700;line-height: 28px;}
.font-type-h4-bold {font-size: 20px;font-weight: 700;line-height: 23px;}
.font-type-h4-semi {font-size: 20px;font-weight: 500;line-height: 23px;}
.font-type-h4-regular {font-size: 20px;font-weight: 400;line-height: 23px;}
.font-type-h5-bold {font-size: 18px;font-weight: 600;line-height: 21px;}
.font-type-h5-semi {font-size: 18px;font-weight: 500;line-height: 21px;}
.font-type-h5-regular {font-size: 18px;font-weight: 400;line-height: 21px;}
.font-type-h6-bold {font-size: 16px;font-weight: 600;line-height: 19px;}
.font-type-h6-semi {font-size: 16px;font-weight: 500;line-height:19px;}
.font-type-h6-regular {font-size: 16px;font-weight: 400;line-height: 19px;}
.font-type-cont-semi {font-size: 15px;font-weight: 600;line-height: 17px;}
.font-type-cont-regular {font-size: 15px;font-weight: 500;line-height: 17px;}