@charset "UTF-8";
@import url('../assets/css/index.css');

/* 레이아웃 */
.guide_wrap {width: 100%;}
.header__wrap {display:flex;flex-direction: column;}
.navgation__wrap--top {display: flex;justify-content: flex-end;background: #246be8;}
.navgation__wrap--top ul {display: flex;justify-content: flex-end;gap: 5px;align-items: center;padding: 0 32px;}
.navgation__wrap--top ul li {padding-top: 5px;}
.navgation__wrap--top ul li a {padding: 14px 20px 16px;font-size: 16px;color:#fff;display: block;}
.navgation__wrap--top ul li.is-active a {background: #fff;color:#222;}

.guide-content__wrap {padding:32px;}
.guide-content__wrap.lnb-type  {display: flex;justify-content: space-between;gap: 40px;}
.guide-content__wrap.lnb-type .lnb-side__wrap {width: 200px;position: sticky;min-height: 500px;top: 100px;border: 1px solid #C6C6C6;border-radius: 12px;padding: 20px;white-space: nowrap;}
.guide-content__wrap.lnb-type .lnb-side__wrap li {border-bottom: 1px solid #C6C6C6;}
.lnb_list li a {display: block;font-size: 18px;line-height: 18px;color:#222;padding: 24px 0;}
.lnb_list li.is-active a {color:#0048c0;}
.guide-content__wrap.lnb-type .lnb-side__wrap li:last-child  {border: 0;}
.guide-content__wrap .tabmenu {display: flex;align-items: center;justify-content: center;gap: 20px;font-size: 18px;line-height: 18px;font-weight: 400;}
.guide-content__wrap .tabmenu a.active {color:#246be8;font-weight: 700;}
.guide-content__wrap.lnb-type  .guide-cont {flex:1;}
.page_tit_h1 {font-size: 24px;font-weight: 500;line-height: 24px;}
.page_tit_h2  {font-size: 18px;font-weight: 500;line-height: 18px;}
.page_tit_h3  {font-size: 16px;font-weight: 400;line-height: 16px;color: #222;margin: 0 0 10px 0;}
.page_tit_h1+.guide-page__table-wrap {margin-top: 32px;}
.page_tit_h2+.section_text {margin-top: 24px;}
.section_text {border: 1px solid #C6C6C6;border-radius: 6px;padding: 16px;}
.section+.section {margin: 24px 0;}
.page_tit_h1+.section {margin-top: 32px;}
.guide-page__table-wrap {margin-bottom: 16px;}
.guide-page__table-wrap table {width: 100%;border-top: 1px solid #ccc;}
.guide-page__table-wrap table thead th { background: #f8f8f8;padding: 4px 7px; color: #222; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; font-size: 13px;text-align: center;}
.guide-page__table-wrap table tbody th { background: #f8f8f8;padding: 4px 7px; color: #222; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; font-size: 13px;text-align: center;}
.guide-page__table-wrap table tbody td { padding: 8px 17px; color: #222; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; font-size: 13px;text-align: left;}
.guide-page__table-wrap table thead tr td:first-child {border-left: 0;}
.guide-page__table-wrap table tbody tr th:first-child {border-left: 0;}
.guide-page__table-wrap table tbody tr td:first-child {border-left: 0;}
.section_text_no_round {border-radius: 6px;border: 1px solid #C6C6C6;padding: 16px;margin: 10px 0;}

.description-list li {font-size: 15px;line-height: 15px;color:#222;position: relative;padding-left: 8px;}
.description-list li::before {content: '';width: 3px;height: 3px;background-color: #c6c6c6;border-radius: 50%;position: absolute;display: block;left: 0;top: 7px;}
.description-list li + li {margin-top: 8px;}

.pub-list__content table {width: 100%;}
.pub-list__content table thead th { background: #eee;padding: 4px 7px; color: #111; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; font-size: 13px;text-align: center;}
.pub-list__content table tbody td { padding: 4px 7px; color: #111; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; font-size: 13px;text-align: center;}
.pub-list__content table thead tr td:first-child {border-left: 0;}
.pub-list__content table tbody tr td:first-child {border-left: 0;}

.pub-ing-display__board {display: flex;gap: 10px;flex-direction: column;margin: 12px 0;}
.pub-ing-display__board .display-data {display: flex;justify-content: space-between;}
.pub-ing-display__board .display-data ul {display: flex;gap: 10px;}

/* 커스텀 데이터 */
.custom-graph__wrap {display: flex;width: 100%;max-width: 400px;}
.custom-graph__wrap .custom-graph__bar {width: 100%;height: 20px;border-radius: 12px;background-color: #EFF3F9;display: flex;align-items: center;font-size: 13px;overflow: hidden;}
.custom-graph__wrap .custom-graph__bar .bar {height: 100%;display: flex;align-items: center;justify-content: center;overflow: hidden;transition: width 1s ease-in-out;}
.custom-graph__wrap .custom-graph__bar .data-type1 {background-color: greenyellow;}
.custom-graph__wrap .custom-graph__bar .data-type2 {background-color: #246be8;}
.custom-graph__wrap .custom-graph__bar .data-type3 {background-color: yellow;}

.site-name__wrap {display: flex;justify-content: flex-start;align-items: center;padding: 16px 32px;border-bottom: 1px solid #ccc;gap: 16px;}
.site-name__wrap h1 {font-size: 26px;}
.site-name__wrap .site-info {font-size: 16px;line-height: 16px;}

.code_view { background-color: #ececec;margin: 16px 0; padding: 0; border-radius: 5px; overflow: auto; white-space: pre; font-family: monospace;position: relative;border: 1px solid #ccc;display: flex;flex-direction: column; } 
.code_view::before {content: '';position: absolute;left:30px;top: 0;width: 1px;height: 100%;background: #ccc;}
.code_line { display: block; height: 35px;line-height: 35px; } 
.line_number { display: inline-block; width: 30px; text-align: center; margin-right: 20px; color: #888; }
.code_view .code_line:nth-child(odd) {background: #fafafa;}
/* 색상 */
.color-box {width: 160px;height: 70px;color:#fff;border-radius: 6px;padding: 9px;font-size: 14px;font-weight: 100; margin-bottom: 20px;}
.color-name {font-size: 16px;font-weight: 500;}
.color-code {font-size: 13px;font-weight: 400;}
.bg_primary {background-color: #0072BC;}
.bg_grayscale {background-color: #C6C6C6;}
.bg_second {background-color: #FF4949;}
.bg_grayscale-50 {background-color: #EFF3F9;color:#222;}

/* // 하단바 */
.bottom-nav__wrap {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    border-top: 1px solid #C6C6C6;
    z-index: 11;
}
.bottom-nav__wrap  button  {
    width: calc(100% / 4)
}
.animation-enter {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    transition: box-shadow 0.5s ease-in-out;
}
.shadow-effect {box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);}
input[type='date']::before {
content: attr(data-placeholder);
width: 100%;
}

