/*
    변수값을 정의하는 css 
*/
@charset "utf-8";
:root {
    /* color */
    --color-primary: #F58220;
    --color-secondary: #043B72;
    --color-white: #fff;

    --color-basic10: #191F28;
    --color-basic9: #424242;
    --color-basic8: #616161;
    --color-basic7: #757575;
    --color-basic6: #999;
    --color-basic5: #BDBDBD;
    --color-basic4: #CCC;
    --color-basic3:#E8E8E8;    
    --color-basic2: #EFEFEF;    
    --color-basic1: #FAFAFA;    

    /* base width */
    --width: 750;
    --deviceWidth: 323px;

    /* font */
    --fontMain: 'NanumSquare', 'Malgun Gothic', '맑은고딕', sans-serif;
    

}

/* rem 사용 예시  */
.test {padding: calc(26 / var(--width) * var(--deviceWidth)) calc(30 / var(--width)* var(--deviceWidth));font-size: calc(26 / var(--width) * var(--deviceWidth));line-height: calc(28 / var(--width) * var(--deviceWidth));}