/* colortherapy */
.therapy_wrap {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &.therapy-color01, 
    &.therapy-color06 {
        background: linear-gradient(168deg, #44DAF3 -1.2%, #66E5A0 100%);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #44DAF3 -1.2%, #66E5A0 100%);
            }
        }
    }
    &.therapy-color02, 
    &.therapy-color07 {
        background: linear-gradient( 168deg, #90EE90 ,#808000);
        .therapy-circle {
            &.big {
                background: linear-gradient( 168deg, #90EE90 ,#808000);
            }
        }
    }
    &.therapy-color03, 
    &.therapy-color08 {
        background: linear-gradient(168deg, #E6E6FA -1.2%, #800080 0.4%,#A9CCE3 10%,#0047AB 100%);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #E6E6FA -1.2%, #800080 0.4%,#A9CCE3 10%,#0047AB 100%);
            }
        }
    }
    &.therapy-color04, 
    &.therapy-color09 {
        background: linear-gradient( 168deg, #FF7F00, #FFFF00);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #FFFF00 -1.2%, #FFF049 0.4%, #FFFF00 100%);
            }
        }
    }
    &.therapy-color05, &.therapy-color010 {
        background: linear-gradient(168deg, #F28EB2 -1.2%, #E6E6FA 0.4%, #F4A460 100%);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #F28EB2 -1.2%, #E6E6FA 0.4%, #F4A460 100%);
            }
        }
    }
    .therapy-circle {
        width: calc(47 / 16 * 1rem);
        height: calc(47 / 16 * 1rem);
        border-radius: 50%;
        border: calc(1 / 16 * 1rem) solid var(--color-white);
        box-shadow: (0px 4px 8px rgba(0, 0, 0, 0.20));;
        &.big {
            width: calc(209 / 16 * 1rem);
            height: calc(209 / 16 * 1rem);
            margin: 30px auto 0;
            box-shadow: (0px 15px 50px rgba(0, 0, 0, 0.20));
        }
    }
    .swiper-slide {
        background-color: rgba(255, 255, 255, 0.5);
        &.therapy-color01, 
        &.therapy-color06 {
            .therapy-circle {
                background: linear-gradient(168deg, #44DAF3 -1.2%, #66E5A0 100%);
            }
        }
        &.therapy-color02, 
        &.therapy-color07 {
            .therapy-circle {
                background: linear-gradient(168deg, #90EE90 -1.2%,#808000 100%);
            }
        }
        &.therapy-color03, 
        &.therapy-color08 {
            .therapy-circle {
                background: linear-gradient(168deg, #E6E6FA -1.2%, #800080 0.4%,#A9CCE3 10%,#0047AB 100%);
            }
        }
        &.therapy-color04, 
        &.therapy-color09 {
            .therapy-circle {
                background: linear-gradient(168deg, #FFFF00 -1.2%, #FFF049 0.4%, #FFFF00 100%);
            }
        }
        &.therapy-color05, &.therapy-color010 {
            .therapy-circle {
                background: linear-gradient(168deg, #F28EB2 -1.2%, #E6E6FA 0.4%, #F4A460 100%);
            }
        }
    }
}
// .therapy_wrap.therapy-color02, .therapy_wrap.therapy-color07 {
//     background: linear-gradient( #90EE90 ,#808000);
// }
// .therapy_wrap.therapy-color02 .therapy-bigcircle, .therapy_wrap.therapy-color07 .therapy-bigcircle {
//     background: linear-gradient( #90EE90 ,#808000);
// }
// .therapy_wrap.therapy-color03, .therapy_wrap.therapy-color08 {
//     background: linear-gradient( #E6E6FA, #800080,#A9CCE3,#0047AB);
// }
// .therapy_wrap.therapy-color03 .therapy-bigcircle, .therapy_wrap.therapy-color08 .therapy-bigcircle {
//     background: linear-gradient( #E6E6FA, #800080,#A9CCE3,#0047AB);
// }
// .therapy_wrap.therapy-color04, .therapy_wrap.therapy-color09 {
//     background: linear-gradient( #FF7F00, #FFFF00);
// }
// .therapy_wrap.therapy-color04 .therapy-bigcircle, .therapy_wrap.therapy-color09 .therapy-bigcircle {
//     background: linear-gradient( #FF7F00, #FFFF00);
// }
// .therapy_wrap.therapy-color05, .therapy_wrap.therapy-color010 {
//     background: linear-gradient( #F28EB2, #E6E6FA, #F4A460);
// }
// .therapy_wrap.therapy-color05 .therapy-bigcircle, .therapy_wrap.therapy-color010 .therapy-bigcircle {
//     background: linear-gradient( #F28EB2, #E6E6FA, #F4A460);
// }


.therapy-swiper .swiper-slide {
    padding: calc(32 / 16 * 1rem) 0;
    border-radius: calc(32 / 16 * 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(20 / 16 * 1rem);
    background: rgba(255, 255, 255, 0.20);
}
.swiper-slide-active {
    padding: calc(31 / 16 * 1rem) 0;
    border: calc(1 / 16 * 1rem) solid var(--color-white);
}

.therapy-txt {
    font-size: calc(14 / 16 * 1rem);
    line-height: calc(22 / 16 * 1rem);
    padding: 0 calc(8 / 16 * 1rem);
    font-weight: 800;
    letter-spacing: calc(0.14 / 16 * 1rem);
    color: var(--color-white);;
}