/* colortherapy */
.therapy_wrap {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &.therapy-color01, 
    &.therapy-color06 {
        background: linear-gradient(168deg, #44DAF3 -1.2%, #66E5A0 100%);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #44DAF3 -1.2%, #66E5A0 100%);
            }
        }
    }
    &.therapy-color02, 
    &.therapy-color07 {
        background: linear-gradient( 168deg, #90EE90 ,#808000);
        .therapy-circle {
            &.big {
                background: linear-gradient( 168deg, #90EE90 ,#808000);
            }
        }
    }
    &.therapy-color03, 
    &.therapy-color08 {
        background: linear-gradient(168deg, #E6E6FA -1.2%, #800080 0.4%,#A9CCE3 10%,#0047AB 100%);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #E6E6FA -1.2%, #800080 0.4%,#A9CCE3 10%,#0047AB 100%);
            }
        }
    }
    &.therapy-color04, 
    &.therapy-color09 {
        background: linear-gradient( 168deg, #FF7F00, #FFFF00);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #FFFF00 -1.2%, #FFF049 0.4%, #FFFF00 100%);
            }
        }
    }
    &.therapy-color05, &.therapy-color010 {
        background: linear-gradient(168deg, #F28EB2 -1.2%, #E6E6FA 0.4%, #F4A460 100%);
        .therapy-circle {
            &.big {
                background: linear-gradient(168deg, #F28EB2 -1.2%, #E6E6FA 0.4%, #F4A460 100%);
            }
        }
    }
    .therapy-circle {
        width: calc(47 / 16 * 1rem);
        height: calc(47 / 16 * 1rem);
        border-radius: 50%;
        border: calc(1 / 16 * 1rem) solid var(--color-white);
        box-shadow: (0px 4px 8px rgba(0, 0, 0, 0.20));;
        &.big {
            width: calc(209 / 16 * 1rem);
            height: calc(209 / 16 * 1rem);
            margin: 30px auto 0;
            box-shadow: (0px 15px 50px rgba(0, 0, 0, 0.20));
        }
    }
    .therapy-swiper {
        .swiper-slide {
            background-color: rgba(255, 255, 255, 0.5);
            padding: calc(32 / 16 * 1rem) 0;
            border-radius: calc(32 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
            &.therapy-color01, 
            &.therapy-color06 {
                .therapy-circle {
                    background: linear-gradient(168deg, #44DAF3 -1.2%, #66E5A0 100%);
                }
            }
            &.therapy-color02, 
            &.therapy-color07 {
                .therapy-circle {
                    background: linear-gradient(168deg, #90EE90 -1.2%,#808000 100%);
                }
            }
            &.therapy-color03, 
            &.therapy-color08 {
                .therapy-circle {
                    background: linear-gradient(168deg, #E6E6FA -1.2%, #800080 0.4%,#A9CCE3 10%,#0047AB 100%);
                }
            }
            &.therapy-color04, 
            &.therapy-color09 {
                .therapy-circle {
                    background: linear-gradient(168deg, #FFFF00 -1.2%, #FFF049 0.4%, #FFFF00 100%);
                }
            }
            &.therapy-color05, &.therapy-color010 {
                .therapy-circle {
                    background: linear-gradient(168deg, #F28EB2 -1.2%, #E6E6FA 0.4%, #F4A460 100%);
                }
            }
            &.swiper-slide-active {
                padding: calc(31 / 16 * 1rem) 0;
                border: calc(1 / 16 * 1rem) solid var(--color-white);
            }
            .therapy-txt {
                font-size: calc(14 / 16 * 1rem);
                line-height: calc(22 / 16 * 1rem);
                padding: 0 calc(8 / 16 * 1rem);
                font-weight: 800;
                letter-spacing: calc(0.14 / 16 * 1rem);
                color: var(--color-white);;
            }
        }
    }
}
/* 오늘의 기분 */
.todaycondi_wrap {
    .tab-content {
        position: relative;
    }
    .tab-btns {
        padding: calc(16 / 16 *1rem);
        background-color: #EBEBF2;
        border-radius: calc(24 / 16 * 1rem);
        .tab-button-list {
            width: 100%;
            background-color: var(--color-white);
            padding: calc(8 / 16 * 1rem) calc(16 / 16 *1rem);
            border-radius: calc(10 / 16 * 1rem);
            justify-content: space-between;
            li {
                position: static;
                // position: relative;
                a {
                    width: calc(24 / 16 * 1rem);
                    height: calc(24 / 16 * 1rem);
                    border-radius: 50%;
                    background-color:  var(--color-basic4);
                    border: calc(10 / 16 * 1rem) solid var(--color-white);
                    padding: 0;
                    &+.bubble-wrap {
                        display: none;
                    }
                }
                &.is-active {
                    position: static;
                    // position: relative;
                    a {
                        width: calc(24 / 16 * 1rem);
                        height: calc(24 / 16 * 1rem);
                        border-radius: 50%;
                        background-color: var(--color-white);
                        transform-origin: 50% 50%;
                        border: calc(8 / 16 * 1rem) solid var(--color-black);
                        // animation: borderWidth 1s linear forwards;
                        &+.bubble-wrap {
                            display: block;
                            position: absolute;
                            // top: calc(-32 / 16 * 1rem);
                            bottom: calc(58 / 16 * 1rem);
                            animation: bubbleOpacity 1s ease forwards;
                            .bubble-type03 {
                                width: max-content;
                                background-color: var(--color-black) !important;
                                &.bubble-right {
                                    &+.triangle-icon {
                                        top: auto;
                                        bottom: calc(4 / 16 * 1rem);
                                        right: 33%;
                                        z-index: 0;
                                        transform: rotate(26deg);
                                        .triangle {
                                            background-color: var(--color-black) !important;
                                        }
                                        &.long-triangle {
                                            right: 37%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .todaycondi-box {
        img {
            width: calc(120 / 16 * 1rem);
            height: calc(120 / 16 * 1rem);
        }
    }
}

@keyframes bubbleOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes borderWidth {
    0% {
        border: calc(10 / 16 * 1rem) solid var(--color-white);
    }
    100% {
        border: calc(8 / 16 * 1rem) solid var(--color-black);
    }
}