/*
    공통값을 정의하는 css 
*/
/* color class */
.primary {
    color: var(--color-primary);
}
.secondary {
    color: var(--color-secondary);
}
.color-white {
    color: var(--color-white);
}

/* 폰트 */
.heading-type1-font44 {
    font-size: calc(44 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(28 / 16 * 1rem);
}
.heading-type2-font40 {
    font-size: calc(40 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(52 / 16 * 1rem);
}
.heading-type3-font36 {
    font-size: calc(36 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(48 / 16 * 1rem);
}
[class*="body-type1-font32"] {
    font-size: calc(32 / 16 * 1rem);
    line-height: calc(56 / 16 * 1rem);
    font-weight: 400;
}
.body-type1-font32-bold {
    font-weight: 700;
}
[class*="body-type2-font30"] {
    font-size: calc(30 / 16 * 1rem);
    line-height: calc(40 / 16 * 1rem);
    font-weight: 400;
}
.body-type2-font30-bold {
    font-weight: 700;
}
[class*="body-type3-font28"] {
    font-size: calc(28 / 16 * 1rem);
    line-height: calc(40 / 16 * 1rem);
    font-weight: 400;
}
.body-type3-font28-bold {
    font-weight: 700;
}
[class*="small-text-font26"] {
    font-size: calc(26 / 16 * 1rem);
    line-height: calc(36 / 16 * 1rem);
}
.small-text-font26-bold {
    font-weight: 700;
}
[class*="tooltip-font24"] {
    font-size: calc(24 / 16 * 1rem);
    line-height: calc(36 / 16 * 1rem);
    font-weight: 700;
}
.tooltip-font24-extra {
    font-weight: 800;
}
.input-type1-font14 {
    font-size: calc(14 / 16 * 1rem);
    font-weight: 400;
    line-height: calc(20 / 16 * 1rem);
}

.font-type-h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 85px;
}
.font-type-h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
}
.font-type-h3 {
    font-size: calc(18 / 16 * 1rem);
    font-weight: 800;
    line-height:alc(24 / 18 * 1rem);
}
.font-type-h4-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}
.font-type-h4-semi {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}
.font-type-h4-regular {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.font-type-h5-bold {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}
.font-type-h5-semi {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.font-type-h5-regular {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.font-type-h6-bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.font-type-h6-semi {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.font-type-h6-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.font-type-cont-semi {
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
}
.font-type-cont-regular {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
}
.font-type-cont-sm {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
[class*="subtitle-bold"] {
    font-weight: 700;
}
.subtitle-bold-font20 {
    font-size: 20px;
    line-height: 26px;
}
.subtitle-bold-font18 {
    font-size: 18px;
    line-height: 24px;
}

/* 박스 */
.content-card__wrap {
    border-radius: 20px;
    background: var(--color-white);
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
    padding: calc(16 / 16 * 1rem);
    margin-top: calc(16 / 16 * 1rem);
}
