/*
    컴포넌트를 정의하는 css 
*/
/* 뱃지 */
.chip__wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}
.chip {
    display: inline-flex;
    padding: 5px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    font-size: calc(12 / 16 * 1rem);
    line-height: 18px;
    font-weight: 400;
}
.chip .ico {
    display: inline-flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}
.chip.bg-dark {
    background-color: var(--color-black);
}
.chip.primary-light {
    background-color: var(--color-primary-light);
}
.chip.green-light {
    background-color: var(--color-green-light);
}
.chip.blue-light {
    background-color: var(--color-blue-light);
}
.chip.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 800;
}
.chip.bg-white {
    background-color: var(--color-white);
    color: var(--Neutral-09_424242);
    font-weight: 800;
}
.chip.bg-blue {
    background-color: var(--color-blue-full);
    color: var(--color-white);
    font-weight: 800;
}
.chip.bg-violet {
    background-color: var(--color-bg-violet);
    color: var(--color-white);
    font-weight: 800;
}
.chip.primary-light .ico-dot {
    background-color: var(--color-primary);
}
.chip.green-light .ico-dot {
    background-color: var(--color-green-full);
}
.chip.blue-light .ico-dot {
    background-color: var(--color-blue-full);
}
.chip.bg-primary .ico-dot {
    background-color: var(--color-primary);
    color: var(--color-white);
}
/* 버튼 */
.button__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.button__wrap.twobtn-case02 .btn:first-child {
    width: fit-content;
    padding: 14px 24px;
    margin: 0;
    flex: 0 0 35%;
}
.button__wrap.twobtn-case02 .btn:last-child {
    width: fit-content;
    padding: 14px 24px;
    margin: 0;
    flex: 1;
}
.button__wrap .btn {
    width: calc(50% - 8px);
}
.btn {
    font-family: var(--fontMain);
    align-items: center;
    border-radius: var(--border-radius-12);
    margin: 0 auto;
}
.btn.btn-primary {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: calc(15 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(20 / 16 * 1rem);
    padding: calc(14 / 16 * 1rem) calc(16 / 16 * 1rem);
}
.btn.btn-primary:hover,
.btn.btn-primary.is-active {
    background-color: var(--color-secondary-active);
    color: var(--color-white);
}
.btn.btn-primary:disabled {
    background-color: var(--color-basic6);
    color: var(--color-basic5);
    cursor: default;
    pointer-events: none;
}
.btn.btn-primary:only-child {
    display: block;
    width: 100%;
}
.btn.btn-secondary {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: calc(15 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(20 / 16 * 1rem);
    padding: calc(14 / 16 * 1rem) calc(16 / 16 * 1rem);
}
.btn.btn-secondary:hover,
.btn.btn-secondary.is-active {
    background-color: var(--color-primary-active);
    color: var(--color-white);
}
.btn.btn-secondary:disabled {
    background-color: var(--color-basic5);
    color: var(--color-primary-disabled);
    cursor: default;
    pointer-events: none;
}
.btn.btn-secondary:only-child {
    display: block;
    width: 100%;
}
.btn.btn-line {
    background-color: var(--color-white);
    color: var(--color-basic8);
    border: 1px solid var(--color-basic4);
    font-size: calc(15 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(20 / 16 * 1rem);
    padding: calc(14 / 16 * 1rem) calc(16 / 16 * 1rem);
}
.btn.btn-line:only-child {
    display: block;
    width: 100%;
}
.btn.btn-line:hover,
.btn.btn-line.is-active {
    background-color: var(--color-basic0);
    color: var(--color-basic8);
}
.btn.btn-line:disabled {
    background-color: var(--color-basic0);
    color: var(--color-basic5);
    cursor: default;
    pointer-events: none;
}
/* 폼요소 */
.form-element__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.form-element__wrap.txtarea_wrap {
    gap: 0;
}
.form-element__wrap .form-element__inner {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 11px 15px;
}
.form-element__wrap .form-element__inner input {
    width: 100%;
    border: 0;
    height: 100%;
    color: #000;
}
.form-element__wrap .form-element__inner input::placeholder {
    color: #999;
}
.form-element__wrap .form-element__inner.input-disabled input:disabled {
    color: #757575;
}
.form-element__wrap .form-element__inner.input-disabled {
    background: #efefef;
}
.form-element__wrap .form-element__inner textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #bdbdbd;
}
.form-element__wrap .input-type {
    height: 46px;
}
.form-element__wrap .input-type input.text-r {
    text-align: right;
    padding-right: 20px;
}
.form-element__wrap .input-type.has-text-button {
    position: relative;
}
.form-element__wrap .input-type.has-text-button .btn-text-button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.form-element__wrap .form-element__inner.input-type.input-search {
    gap: 8px;
}
.form-element__wrap .form-element__inner.input-type.input-search .btn.btn-search {
    width: 24px;
    height: 24px;
    background: url("../../assets/img/icon/search_icon24_bl.png") no-repeat;
    background-size: 100%;
}
.form-element__wrap .form-element__inner.input-type.input-search input {
    flex: 1;
}
.form-element__wrap .select-wrap {
    height: 56px;
}
.form-element__wrap .text-area {
    padding: 16px;
    align-items: normal;
    flex-direction: column;
}
.form-element__wrap .form-element__inner textarea {
    width: 100%;
    border: 0;
    height: 100%;
    color: var(--color-basic10);
    resize: none;
    font-family: var(--fontMain);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.form-element__wrap.txtarea_wrap .text-area + .txtarea-noti {
    margin-top: calc(4 / 16 * 1rem);
}
.form-element__wrap .form-element__inner select {
    width: 100%;
    border: 0;
    height: 100%;
    color: #afb5bc;
    resize: none;
    text-indent: 18px;
}
.form-element__wrap .form-element__inner select[readonly] {
    background-color: #f8f9fa;
    pointer-events: none;
}
.form-element__wrap .form-element__inner select option {
    padding: 10px;
}
.form-element__wrap .form-element__inner.select-wrap {
    position: relative;
}
.form-element__wrap .form-element__inner.select-wrap::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/admin/icon-chevron-down.svg") no-repeat center;
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.form-element__wrap .form-element__inner .btn.btn-remove {
    width: 24px;
    height: 24px;
    background: url("../img/icon/close_icon24_gr3.png") no-repeat;
    background-size: cover;
}
.form-element__wrap .form-element__inner .btn-remove {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.form-element__wrap .form-element__inner .btn-remove.is-show {
    display: block;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.form-element__wrap .form-element__inner .text-count {
    text-align: right;
    color: var(--color-basic5);
}
.form-element__wrap .input-multi {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
.pin-code input[type="password"] {
    background-color: #fff;
    border: none;
    border-bottom: thin solid gray;
    width: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 5px;
}
.pin-dot .dot {
    width: 10px;
    height: 10px;
    background: darkgrey;
    border-radius: 100%;
    margin: 0 5px;
    display: inline-flex;
}
.pin-dot .dot.is-active {
    background: rgba(0, 0, 0, 0.7);
}
.form-element__wrap .range-option__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.form-element__wrap .range-option__wrap .radio-box {
    width: fit-content;
    white-space: nowrap;
    width: 50%;
}
.form-element__wrap .range-option__wrap .input-multi {
    flex: 1;
    justify-content: flex-end;
}

/* switch */
.switch_wrap {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    display: flex;
    align-items: center;
}
.switch_wrap label {
    margin-left: 4px;
}
.switch_wrap [type="checkbox"] {
    appearance: none;
    position: relative;
    border-radius: 16px;
    width: 36px;
    height: 20px;
    font-size: 14px;
    background-color: var(--color-primary-disabled);
}
.switch_wrap [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: left 250ms linear;
    background-color: var(--color-white);
}
.switch_wrap [type="checkbox"]:checked {
    background-color: var(--color-primary-netural);
}
.switch_wrap [type="checkbox"]:checked::before {
    background-color: var(--color-primary);
    left: 18px;
}
.switch_wrap [type="checkbox"]:disabled {
    background-color: var(--color-basic3);
    cursor: not-allowed;
}
.switch_wrap [type="checkbox"]:disabled:before {
    background-color: var(--color-basic5);
}
.switch_wrap [type="checkbox"]:disabled + span {
    cursor: not-allowed;
}
.switch_wrap input[type="checkbox"]:checked:after {
    background: none;
}

.switch_wrap.switch-type2 [type="checkbox"] {
    width: 36px;
    height: 12px;
}
.switch_wrap.switch-type2 [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: left 250ms linear;
    background-color: var(--color-white);
    border: 1px solid var(--color-basic3);
}
.switch_wrap.switch-type2 [type="checkbox"]:checked::before {
    background-color: var(--color-primary);
    border: 0;
    left: 16px;
}
.switch_wrap.switch-type2 [type="checkbox"]:disabled:before {
    background-color: var(--color-basic5);
    border: 0;
}

/* 드롭다운 메뉴 */
.dropdown-menu__wrap {
    position: relative;
    max-width: 343px;
}
.dropdown-menu__wrap .btn-dropdown {
    width: 100%;
    border: var(--dropdown-border);
    height: 46px;
    padding: 11px 15px;
    border-radius: var(--dropdown-border-radius);
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dropdown-text-color);
    position: relative;
}
.dropdown-menu__wrap .btn-dropdown::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../../assets/img/icon/btm_icon24_bl.png") no-repeat;
    background-size: 100%;
}

.dropdown-menu__wrap .btn-dropdown.is-active::after {
    transform: rotate(180deg);
}
.dropdown-menu__wrap .btn-dropdown.is-active {
    border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0;
    border-bottom: 0;
}
.dropdown-menu__wrap .dropdown_list {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    display: none;
    z-index: 20;
}
.dropdown-menu__wrap .dropdown_list.is-active {
    display: block;
}
.dropdown-menu__wrap .dropdown_list li button {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    color: var(--dropdown-text-color);
    text-align: left;
    border-left: var(--dropdown-border);
    border-right: var(--dropdown-border);
    background-color: var(--dropdown-bg);
}
.dropdown-menu__wrap .dropdown_list li:first-child button {
    border-top: 0;
}
.dropdown-menu__wrap .dropdown_list li:last-child button {
    border-bottom: var(--dropdown-border);
    border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
}
.dropdown-menu__wrap .dropdown_list li:hover button {
    background-color: var(--dropdown-hover-bg);
    border-left: 1px solid var(--color-basic4);
    border-right: 1px solid var(--color-basic4);
}
.dropdown-menu__wrap .dropdown_list li.is-active button {
    border-left: 1px solid var(--color-basic4);
    border-right: 1px solid var(--color-basic4);
    background-color: var(--dropdown-hover-bg);
}

/* 페이지네이션 */
.pagination {
    border-radius: 8px;
    border: 1px solid #cfd4da;
    width: fit-content;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    height: 40px;
}
.pagination a {
    width: 48px;
    height: 100%;
}
.pagination a::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
}
.pagination a.num {
    border-right: 1px solid #cfd4da;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5a5c5f;
}
.pagination a.num.is-active {
    background-color: #fff;
}
.pagination a.num::before {
    display: none;
}
.pagination a.btn-first::before {
    background: url("../images/admin/icon-pagination-arrow-double.svg") no-repeat center;
    border-right: 1px solid #cfd4da;
}
.pagination a.btn-prev::before {
    background: url("../images/admin/icon-pagination-arrow.svg") no-repeat center;
    border-right: 1px solid #cfd4da;
}
.pagination a.btn-next::before {
    background: url("../images/admin/icon-pagination-arrow.svg") no-repeat center;
    border-left: 1px solid #cfd4da;
    transform: rotate(180deg);
}
.pagination a.btn-last::before {
    background: url("../images/admin/icon-pagination-arrow-double.svg") no-repeat center;
    transform: rotate(180deg);
}

/* table */
.table__wrap {
    margin: 0;
    width: 100%;
}
/* list type */
.table-list {
    width: 100%;
}
.table-list thead th {
    padding: var(--th-padding-top-bottom) var(--th-padding-side);
    height: var(--th-height);
    background-color: var(--table-th-bg);
    border-bottom: 1px solid var(--table-border-color);
    text-align: var(--th-align-c);
    font-size: var(--th-font-size);
    line-height: var(--th-line-height);
    color: var(---th-ft-color);
    font-weight: var(--th-font-weight);
}
.table-list tbody th {
    padding: var(--td-padding-top-bottom) var(--td-padding-side);
    height: var(--td-height);
    background-color: var(--table-th-bg);
    text-align: var(--td-align-c);
    font-size: var(--td-font-size);
    line-height: var(--th-line-height);
    color: var(---th-ft-color);
    font-weight: var(--th-font-weight);
}
.table-list tbody td {
    padding: var(--td-padding-top-bottom) var(--td-padding-side);
    text-align: center;
    color: var(--td-ft-color);
    font-size: var(--td-ft-size);
    line-height: var(--td-ft-line-height);
    border-bottom: 1px solid var(--table-border-color);
}
.table-list tbody td.text-l {
    text-align: left;
}
.table-list.sm thead th {
    padding: calc(var(--th-padding-top-bottom) * 0.6) calc(var(--th-padding-side) * 0.6);
    height: calc(var(--th-height) * 0.6);
    font-size: calc(var(--th-font-size) * 0.7);
    line-height: calc(var(--th-line-height) * 0.7);
}
.table-list.sm tbody th {
    padding: calc(var(--th-padding-top-bottom) * 0.6) calc(var(--th-padding-side) * 0.6);
    height: calc(var(--th-height) * 0.6);
    font-size: calc(var(--th-font-size) * 0.7);
    line-height: calc(var(--th-line-height) * 0.7);
}
.table-list.sm tbody td {
    padding: calc(var(--td-padding-top-bottom) * 0.6) calc(var(--td-padding-side) * 0.6);
    height: calc(var(--td-height) * 0.6);
    font-size: calc(var(--td-font-size) * 0.7);
    line-height: calc(var(--td-line-height) * 0.7);
}
.table-list.sm tbody td.text-l {
    text-align: left;
    padding-left: 16px;
}
/* table body */
.table-body-only {
    width: 100%;
    border-top: 1px solid var(--table-border-color);
}
.table-body-only tbody th {
    padding: var(--td-padding-top-bottom) var(--tbody-th-side);
    height: var(--td-height);
    background-color: var(--tbody-th-bg-color);
    text-align: var(--td-align-c);
    font-size: var(--td-font-size);
    line-height: var(--th-line-height);
    color: var(---th-ft-color);
    font-weight: var(--th-font-weight);
    border-bottom: 1px solid var(--table-border-color);
}
.table-body-only tbody td {
    padding: var(--td-padding-top-bottom) var(--tbody-td-side);
    text-align: var(--table-td-text-left);
    color: var(--td-ft-color);
    font-size: var(--td-ft-size);
    line-height: var(--td-ft-line-height);
    border-bottom: 1px solid var(--table-border-color);
}

/* 모달 */
body.modal-open {
    height: 100%;
    overflow: hidden;
}
.modal__wrap--bg {
    background-color: rgba(90, 92, 95, 0.5);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease;
    z-index: 11;
}
.modal__wrap--bg .modal__wrap.size-default {
    width: 100%;
    max-width: 720px;
}
.modal__wrap--bg .modal__wrap.size-large {
    width: 100%;
    max-width: 1056px;
}
.modal__wrap--bg .modal__wrap .modal-header {
    background-color: #35ad68;
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
}
.modal__wrap--bg .modal__wrap .modal-header h3 {
    margin-left: 30px;
    color: #fff;
}
.modal__wrap--bg .modal__wrap .modal-header .btn-icon-close {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.modal__wrap--bg .modal__wrap .modal-cont {
    background-color: #fff;
    padding: 32px 40px 0;
    max-height: 550px;
    overflow-y: auto;
}
.modal__wrap--bg .modal__wrap .modal-footer {
    padding: 0 40px 32px;
    margin-top: 30px;
}
.modal__wrap--bg .modal__wrap {
    position: fixed;
    background-color: #fff;
}

.modal__wrap--bg.is-active {
    opacity: 1;
    transition: opacity 0.3s ease;
}
.modal__wrap--bg.default .modal__wrap {
    background-color: #fff;
    position: fixed;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
}
.modal__wrap--bg.default.is-active .modal__wrap {
    opacity: 1;
    transform: all 0.3s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}
.modal__wrap--bg.type-bottom .modal__wrap {
    bottom: -100%;
    transition: bottom 0.3s, opacity 0.3s;
    left: 0%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 0;
}
.modal__wrap--bg.type-bottom.is-active .modal__wrap {
    bottom: 0;
    opacity: 1;
}
.modal__wrap--bg.type-right .modal__wrap {
    bottom: -100%;
    transition: right 0.3s, opacity 0.3s;
    right: -100%;
    top: 0;
    width: 100%;
    opacity: 0;
}
.modal__wrap--bg.type-right.is-active .modal__wrap {
    right: 0;
    opacity: 1;
    width: 50%;
}

/* 탭 */
.tab-btns {
    padding: var(--tab-btns-padding-vertical) var(--tab-btns-padding-horizontal);
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    width: 100%;
}

.tab-btns::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.tab-btns .tab-button-list {
    display: flex;
    align-items: center;
    gap: var(--tab-btn-gap);
}

.tab-btns .tab-button-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-btns .tab-button-list li a:hover,
.tab-btns .tab-button-list li a:focus,
.tab-btns .tab-button-list li.is-active a {
    background-color: var(--tab-btn-hover-focus-active-bg);
    color: var(--tab-btn-hover-focus-active-color);
}

.tab-btns .tab-button-list li a:focus {
    border: 0;
}

.tab-btns .tab-button-list li a {
    padding: var(--tab-btn-padding);
    border-radius: var(--tab-btn-border-radius);
    background: var(--tab-btn-default-bg);
    color: var(--tab-btn-default-color);
    font-size: var(--tab-btn-font-size);
    font-style: normal;
    font-weight: var(--tab-btn-font-weight);
    white-space: nowrap;
    font-family: var(--tab-btn-font-family);
}

.tab-pane1s img {
    width: 100%;
}

.tab-pane1 {
    display: none;
    padding: 0 var(--tab-pane-padding);
}

.tab-pane1.is-active {
    display: block;
}

/* 탭 type1 */
.tab-btns.type-icon .tab-button-list li a  {
    padding: var(--tab-btn-padding);
    border-radius: var(--tab-btn-border-radius);
    background: var(--tab-btn-type-icon-bg);
    color: var(--color-basic9);
    font-size: var(--tab-btn-font-size);
    font-style: normal;
    font-weight: var(--tab-btn-font-weight);
    white-space: nowrap;
    font-family: var(--tab-btn-font-family);
    line-height: var(--tab-btn-font-line-height);
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    gap: var(--tab-btn-gap);
}
.tab-btns.type-icon .tab-button-list li.is-active a {
    background: var(--color-basic9);
    color: var(--color-white);
}
.tab-btns.no-scroll .tab-button-list {
    flex-wrap: wrap;
}
/* /주간 달력 */
.calendar__wrap {
    width: 100%;
}
.calendar__wrap .weekly-cal__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.calendar__wrap .weekly-cal__header  li {
    text-align: center;
}
.calendar__wrap .weekly-cal__header  li.today {
    font-weight: 700;
    color:var(--color-primary);
}
.calendar__wrap .weekly-cal__header  li.holiday {
    color: red;
}
.calendar__wrap .calendar__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.calendar__content {
    width: 100%;
}
.calendar__content table {
    width: 100%;
}
.calendar__content table th {
    border: 0;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    height: 50px;

    font-family: "Pretendard";
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.01em;
    text-align: center;
}
.calendar__content table td {
    border: 0;
    text-align: center;
    height: 85px;

    font-family: "Pretendard";
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.01em;
    text-align: center;
}
.gray {
    color: #ccc;
}

.calendar__content table th.holiday,
.calendar__content table td.holiday {
    color: red;
}
.calendar__content table td a {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar__content table tbody tr.hide {
    position: absolute;
    height:0;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.calendar__content table td.today a {
    background-color: #f58220;
    color: #fff;
}
/* 주간 달력 */
.calendar__wrap {
    width: 100%;
}
.calendar__wrap .calendar__header {
    margin-top: calc(20 / 16 * 1rem);
}
.calendar__wrap .calendar__header .display-data {
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}
.calendar__content {
    margin-top: calc(10 / 16 * 1rem);
}
.calendar__content ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calendar__content li {
    width: calc(100% / 7);
    flex-direction: column;
}
.calendar__content li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    height: 66.948px;
    background: #fff;
}
.calendar__content li .day {
    font-family: "Pretendard";
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}
.calendar__content li .label {
    color: #969696;
    text-align: center;
    font-family: "NanumSquare";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
    margin-bottom: 4px;
}
.calendar__content li a.today {
    background-color: #f58220;
    color: #fff;
}
.calendar__content li a.holiday .label,
.calendar__content li a.holiday .day {
    color: red;
}
.calendar__content li a .day.today {
    background-color: #f58220;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.calendar__content li a  .day.holiday .label,
.calendar__content li a  .day.holiday {
    color: red;
}
.calendar__content li a.today .day,
.calendar__content li a.today .label {
    color: #fff;
}
.detail-section {
    border-top: 1px solid #eaeaea;
    padding: 23px 16px;
}

.detail-day {
    color: #242424;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}
.detail-section img {
    width: 183px;
}
.calendar__content .button__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0px;
}
.calendar__content .button__wrap img {
    width: 61px;
}
.health-data-wrap:not(:empty) {
    margin: 10px 0;
}
.health-data-wrap {
    display: flex;
    justify-content: center;
    gap: 2px;
}
.health-data-wrap .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.health-data-wrap .dot.type-meal {
    background: #f48221;
}
.health-data-wrap .dot.type-work-out {
    background: #7ce778;
}
.health-data-wrap .dot.type-nutrition {
    background: #5ca7ff;
}
/* graph */
.circlebar_total {
    display: flex;
}
.circlebar_wrap {
    position: relative;
    display: flex;
}
.circlebar_txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #212121;
    text-align: right;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px; /* 100% */
    letter-spacing: -0.96px;
    width: 100%;
    text-align: center;
}

/* graph type1*/
.circlebar-type1 .circle-border {
    fill: none;
    stroke: green;
    stroke-width: 12;
    opacity: 0.3;
}
.circlebar-type1 .circle-progress {
    fill: none;
    stroke: green;
    stroke-width: 12;
    animation: progressType1 2s ease-in-out forwards;
    stroke-dasharray: var(--barWidth);
    stroke-dashoffset: var(--barWidth);
    transform-origin: center center;
    transform: rotate(-120deg);
    stroke-linecap: round;
}
.circlebar-type1.calro-bar .circle-border {
    fill: none;
    stroke: #ECECEC;
}
.circlebar-type1.calro-bar .circle-progress {
    fill: none;
    stroke: url(#calGradient);
}
.circlebar_total.animation-enter .circle-progress {
    animation: none;
}
.circlebar_total.animation-enter.fade-in .circle-progress {
    animation: progressType1 2s ease-in-out forwards;
}
.circlebar-type1 + .circlebar_txt {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.96px;
}
@keyframes progressType1 {
    0% {
        stroke-dashoffset: var(--barWidth);
    }
    100% {
        stroke-dashoffset: var(--barNum);
    }
}

/* graph type2 */
.circlebar-type2 .circle-border {
    fill: none;
    stroke: rgb(249, 197, 100);
    stroke-width: 12;
    opacity: 0.3;
}
.circlebar-type2 .circle-progress {
    fill: none;
    stroke: rgb(249, 197, 100);
    stroke-width: 12;
    animation: progressType2 2s ease-in-out forwards;
    stroke-dasharray: var(--barOverWidth);
    stroke-dashoffset: var(--barOverWidth);
    transform-origin: center center;
    transform: rotate(-90deg);
    stroke-linecap: round;
}
.circlebar-type2 .circle-overflow {
    fill: none;
    stroke-width: 12;
    animation: overflowType 2s ease-in-out forwards;
    animation-delay: 1.5s;
    stroke-dasharray: var(--barOverWidth);
    stroke-dashoffset: var(--barOverWidth);
    transform-origin: center center;
    transform: rotate(-90deg);
    stroke-linecap: round;
}
.circlebar-type2 + .circlebar_txt {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.96px;
}
@keyframes progressType2 {
    0% {
        stroke-dashoffset: var(--barOverWidth);
    }
    100% {
        stroke-dashoffset: var(--barNum);
    }
}
@keyframes overflowType {
    0% {
        stroke-dashoffset: var(--barOverWidth);
        stroke: transparent;
    }
    100% {
        stroke-dashoffset: var(--overflowBarNum);
        stroke: rgb(246, 145, 13);
    }
}

/* graph type3 */
.circlebar-type3 .circle-border {
    fill: none;
    stroke: #ececec;
    stroke-width: 20;
}
.circlebar-type3.data-circle .circle-progress,
.circlebar-type3.data-circle .circle-progress2,
.circlebar-type3.data-circle .circle-border {
    fill: none;
    stroke: #ececec;
    stroke-width: 20;
    transform-origin: center center;
    transform: rotate(90deg);
    stroke-linecap: round;
}
.circlebar-type3.data-circle .circle-border {
    stroke: transparent;
}
.circlebar-type3.data-circle .circle-progress {
    animation: combineType 2s ease-in-out forwards;
}
@keyframes combineType {
    0% {
        stroke-dashoffset: var(--initialDashOffset);
    }
    100% {
        stroke-dashoffset: var(--barNum);
        stroke: url(#circleGradient);
    }
}
@keyframes combineType {
    0% {
        stroke-dashoffset: var(--initialDashOffset);
    }
    100% {
        stroke-dashoffset: var(--barNum);
        stroke: url(#circleGradient);
    }
}
.circlebar-type3.empty-circle .circle-progress,
.circlebar-type3.empty-circle .circle-border {
    fill: none;
    stroke: #ececec;
    stroke-width: 20;
    transform-origin: center center;
    transform: rotate(270deg);
    stroke-linecap: round;
}
.circlebar-type3.empty-circle .circle-progress {
    stroke: transparent;
}
.data-circle {
    position: absolute;
    top: 0;
}
/* 텍스트 색상 */
.primary-color01 {
    color: var(--color-black);
}
.primary-color02 {
    color: var(--color-basic10);
}
.secondary-color01 {
    color: var(--color-basic9);
}
.secondary-color02 {
    color: var(--color-basic8);
}
.disabled-color {
    color: var(--color-basic6);
}
.error-color {
    color: var(--error-color);
}
.sucess-color {
    color: var(--sucess-color);
}
.green-color {
    color: var(--green-color);
}
.txtarea-noti {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.form-element__wrap.txtarea-error .text-area {
    border: 1px solid var(--error-color);
    background: var(--color-primary-light);
}
.form-element__wrap.txtarea-error .form-element__inner textarea {
    background: var(--color-primary-light);
}
.txtarea-error .txtarea-noti {
    display: flex;
    align-items: center;
}
.txtarea-error .txtarea-noti::before {
    width: 24px;
    height: 24px;
    background: url("../img/icon/error_icon24_red.png") no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    margin-right: 4px;
}
.form-element__wrap.txtarea_wrap .txtarea-disabled {
    background: #f5f5f5;
}
/* 라디오박스 */
.radio-box {
    display: flex;
    align-items: center;
    gap: 16px; /* 가이드에 없어서 임의로 작업 */
}
.radio-box label {
    display: flex;
    align-items: center;
    gap: 8px; /* 가이드에 없어서 임의로 작업 */
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 2px var(--color-basic4) inset;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
input[type="radio"]:checked {
    background-color: var(--color-primary);
    box-shadow: 0 0 0 3px #fff inset;
    border: 2px solid var(--color-primary);
}
input[type="radio"]:disabled {
    background-color: var(--color-basic2);
    box-shadow: 0 0 0 2px #e8e8e8 inset;
    cursor: not-allowed;
}
/* 라디오박스 */
.checkbox {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 8px; /* 가이드에 없어서 임의로 작업 */
    color:var(--color-basic9); /* 회원가입용 디자인 컬러로 우선 적용 7/31 */
}
.checkbox input[type="checkbox"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    font-size: initial;
    clip: rect(0 0 0 0);
}
.checkbox .ch-mark {
    width: 20px;
    height: 20px;
    background-color: var(--color-basic4);
    border-radius: 50%;
    position: relative;
}
.checkbox .ch-mark::before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9.5px;
    background-color: var(--color-basic4);
    border-radius: 50%;
    background: url("../img/icon/check_icon_wh.png") center center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 27%;
}
.checkbox input[type="checkbox"]:checked + .ch-mark {
    background-color: var(--color-primary);
}
.checkbox input[type="checkbox"]:disabled + .ch-mark {
    background-color: var(--color-basic3);
    cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + .ch-mark::before {
    background: url("../img/icon/check_icon_gr.png") center center no-repeat;
    background-size: 100%;
    cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled ~ .checkbox-label {
    cursor: not-allowed;
}
.checkbox.main-chkbox20-secondary .ch-mark {
    background-color: #163b6e;
}
.checkbox.main-chkbox20-grey .ch-mark {
    background-color: #a2b1c5;
}
.checkbox[class*="main-chkbox24"] {
    width: 24px;
    height: 24px;
}
.checkbox.main-chkbox24-primary .ch-mark {
    background-color: var(--color-primary);
}
.checkbox.main-chkbox24-line .ch-mark {
    background-color: var(--color-white);
    box-shadow: 0 0 0 2px var(--color-basic5) inset;
}

/* 라디오버튼 - 라인타입 */
.checkbox.chkbox-line .ch-mark {
    background-color: var(--color-white);
    border:2px solid var(--color-basic5);
}
.checkbox.chkbox-line .ch-mark::before{
    background:center / 100% url(../img/icon/check_icon_gr2.png) no-repeat;
}
.checkbox.chkbox-line input[type="checkbox"]:checked + .ch-mark::before{
    border-color:var(--color-primary);
    background:center / 100% url(../img/icon/check_icon_wh.png) no-repeat ;
}
.checkbox.chkbox-line input[type="checkbox"]:checked + .ch-mark{
    border-color:var(--color-primary);
}
.checkbox.chkbox-line input[type="checkbox"]:disabled + .ch-mark {
    background-color: var(--color-basic3);
    border-color:var(--color-basic3)
}

/* 20240719 Main event checked, disabeld 디자인 없음 */
.checkbox.main-chkbox20-secondary input[type="checkbox"]:checked + .ch-mark,
.checkbox.main-chkbox20-secondary input[type="checkbox"]:disabled + .ch-mark {
    background-color: #163b6e;
}
.checkbox.main-chkbox20-grey input[type="checkbox"]:checked + .ch-mark,
.checkbox.main-chkbox20-grey input[type="checkbox"]:disabled + .ch-mark {
    background-color: #a2b1c5;
}
.checkbox.main-chkbox24-primary input[type="checkbox"]:checked + .ch-mark,
.checkbox.main-chkbox24-primary input[type="checkbox"]:disabled + .ch-mark {
    background-color: var(--color-primary);
}
.checkbox.main-chkbox24-line input[type="checkbox"]:checked + .ch-mark,
.checkbox.main-chkbox24-line input[type="checkbox"]:disabled + .ch-mark {
    background-color: var(--color-white);
    box-shadow: 0 0 0 2px var(--color-basic5) inset;
}
.checkbox.main-chkbox24-line input[type="checkbox"] + .ch-mark::before,
.checkbox.main-chkbox24-line input[type="checkbox"]:checked + .ch-mark::before,
.checkbox.main-chkbox24-line input[type="checkbox"]:disabled + .ch-mark::before {
    background: url("../img/icon/check_icon_gr2.png") center center no-repeat;
    background-size: 100%;
}
/* 말풍선 */
[class*="bubble-type"] {
    border-radius: 12px;
    color: var(--color-white);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}
[class*="bubble-type"]:not(.bubble-type03).bubble-right {
    border-top-right-radius: 0;
}
[class*="bubble-type"]:not(.bubble-type03).bubble-left {
    border-top-left-radius: 0;
}
.bubble-orange [class*="bubble-type"] {
    background-color: var(--color-primary);
}
.bubble-orange .triangle {
    position: relative;
    background-color: var(--color-primary);
}
.bubble-black [class*="bubble-type"] {
    background-color: var(--Neutral-09_424242);
}
.bubble-black .triangle {
    position: relative;
    background-color: var(--Neutral-09_424242);
}
.bubble-type01 {
    max-width: 592px;
    min-width: auto;
    width: fit-content;
    position: relative;
    padding: 5px 12px;
}
.bubble-type02 {
    width: 592px;
    position: relative;
    padding: 5px 12px;
}
.bubble-type03 {
    width: fit-content;
    position: relative;
    padding: 3px 10px;
    z-index: 1;
}
.bubble-box {
    position: relative;
    display: inline-flex;
}
.triangle-icon {
    position: absolute;
}
.triangle:before,
.triangle:after {
    content: "";
    position: absolute;
    background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
    width: 10px;
    height: 10px;
    border-top-right-radius: 50%;
}
.triangle {
    transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}
.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.bubble-top + .triangle-icon {
    top: -20%;
    right: 45%;
}
.bubble-btm + .triangle-icon {
    bottom: -20%;
    right: 45%;
    transform: rotate(180deg);
}
.bubble-left + .triangle-icon {
    top: 0;
    left: 0;
}
.bubble-right + .triangle-icon {
    top: 0;
    right: 0;
    transform: rotate(270deg);
}
.bubble-type02.bubble-top + .triangle-icon {
    top: -10%;
    right: 50%;
}
.bubble-type02.bubble-btm + .triangle-icon {
    bottom: -10%;
    right: 50%;
}
.bubble-type03.bubble-right + .triangle-icon {
    top: 50%;
    margin-top: -7px;
    right: 3%;
    transform: rotate(290deg);
    z-index: -1;
}
.bubble-left + .triangle-icon .triangle,
.bubble-right + .triangle-icon .triangle {
    transform: none;
}
.bubble-type01.bubble-right-center, .bubble-type01.bubble-left-center  {
    border-radius: calc(16 / 16 * 1rem);
}
.bubble-type01.bubble-right-center + .triangle-icon {
    top: 33%;
    transform: rotate(90deg);
    z-index: -1;
    position: absolute;
    right: -3%;
}
.bubble-type01.bubble-left-center + .triangle-icon {
    top: 47%;
    margin-top: -1%;
    transform: rotate(150deg);
    z-index: -1;
    position: absolute;
    left: 0;
}
/* swiper - pagination-black */
.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-black {
    bottom: -6px;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
    opacity: var(--color-primary-disabled);
    background: var(--color-basic10);
}
/* swiper : pagination 있는 경우 */
.pagination-card .swiper {
    padding-bottom: 24px;
}
/* swiper : 공통 */
.card-video video,
.swiper .swiper-slide img {
    width: 100%;
}
/* swiper play 버튼 임시 작업 */

.swiper-status-wrap {
    display: flex;
    position: relative;
    width: fit-content;
    gap: 8px;
    margin: 0 auto;
}
.swiper-status-wrap .btn-wrap {
    display: inline-flex;
}
.btn-play {
    width: 24px;
    height: 24px;
    background: url("../../assets/img/test/pasue_test.png") no-repeat center center; /* default 값 : pasue 버튼 */
    background-size: contain;
}
.btn-play.on {
    width: 24px;
    height: 24px;
    background: url("../../assets/img/test/play_test.png") no-repeat center center;
    background-size: contain;
}
.swiper-status-wrap .swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-black {
    bottom: auto;
    width: auto;
    position: relative;
}
/* swiper 안에 heart btn */
.heart-swiper {
    position: relative;
}
.heart-swiper img {
    border-radius: calc(20 / 16 * 1rem);
}
.heart-wrap .heart-box {
    position: absolute;
    top: calc(21 / 16 * 1rem);
    right: calc(21 / 16 * 1rem);
    width: calc(30 / 16 * 1rem);
    height: calc(30 / 16 * 1rem);
    border-radius: 50%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart-wrap .heart-box .heart-btn {
    width: calc(14 / 16 * 1rem);
    height: calc(14 / 16 * 1rem);
    background: url("../img/icon/heart_icon14_gr.png") no-repeat center center;
    background-size: 100%;
    display: inline-flex;
}
.heart-wrap .heart-box .heart-btn.on {
    width: calc(14 / 16 * 1rem);
    height: calc(14 / 16 * 1rem);
    background: url("../img/icon/heart_icon14_red.png") no-repeat center center;
    background-size: 100%;
    display: inline-flex;
}
.heart-swiper .txt-wrap {
    position: absolute;
    bottom: calc(24 / 16 * 1rem);
    left: calc(20 / 16 * 1rem);
    width: calc(100% - 40px);
}
.swiper-tit {
    font-size: calc(20 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(26 / 16 * 1rem);
    color: var(--color-white);
}
.chip + .swiper-tit {
    margin-top: 8px;
}
/* 컴포넌트 테스트여서 디자인 없음 이러한 경우 생기면 커스텀 진행 필요 */
.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    bottom: 0;
    top: auto;
}
.pagination-card .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    opacity: var(--color-primary-disabled);
    background: var(--color-basic10);
}
 /* progressbar 스타일 */
.swiper-pagination-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: var(--color-basic10);
    transition: width 0.2s;
}

/* 토스트팝업 */
.toast__popup {
    display: none;
    padding:calc(16 / 16 * 1rem);
    position:fixed;;
    left:0;
    bottom:0;
    width:100%;
    display:none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}
.toast__popup.active {
    display: block;
    max-height: 100px; 
    opacity: 1;
}
.toast__popup .toast__popup--message {
    background-color:rgba(0, 0, 0, 0.7);
    color:var(--color-white);
    padding: calc(14 / 16 * 1rem) calc(42 / 16 * 1rem) calc(14 / 16 * 1rem) calc(16 / 16 * 1rem);
    line-height:calc(18 / 16 * 1rem);
    border-radius:calc(14 / 16 * 1rem);
}
.toast__popup .toast__popup--close{
    position: absolute;
    top: calc(14 / 16 * 1rem);
    right:calc(14 / 16 * 1rem);
    width:calc(46 / 16 * 1rem);
    height:calc(46 / 16 * 1rem);
    background:center / 16px no-repeat url("../img/icon/close_icon16_or.png");
}
/*회원가입*/
.join__wrap {
    width:100%;
    height: calc(100vh - 56px);
    background:#F5F5F5;
    padding-bottom:calc(76 / 16 * 1rem);
}
.join__wrap .join__wrap--box {
    padding:calc(30 / 16 * 1rem) calc(16 / 16 * 1rem) calc(100 / 16 * 1rem);
    overflow-y: auto;
    background:#F5F5F5; 
}
.join__wrap--box .bot-message{
    display: flex;
    justify-content: left;
    padding-top: calc(38 / 16 * 1rem);
}
.join__wrap--box .message-content{
    margin-bottom:calc(10 / 16 * 1rem);
    padding:calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
    border-radius:calc(4 / 16 * 1rem) calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
    animation: fadeIn 0.5s ease;
    color: var(--color-basic10);
    font-weight: 700;
    font-size: calc(15 / 16 * 1rem);
    line-height:calc(20 / 16 * 1rem);
    background-color:var(--color-white);
    position:relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}
.bot-message .message-content::after{
    content:"";
    width:calc(42 / 16 * 1rem);
    height:calc(42 / 16 * 1rem);
    background: center / cover no-repeat url("../img/icon/chat_icon42_or.png");
    position:absolute;
    left:0;
    top:calc(-32 / 16 * 1rem);
}
.bot-message.first-msg{
    padding-top:0;
}
.bot-message.first-msg .message-content::after{
    display:none;
}
.join__wrap .join__wrap--input {
    display: flex;
    padding: calc(12 / 16 * 1rem) calc(20 / 16 * 1rem);
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    z-index:10;
    background-color:var(--color-white);
    box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.05);
}
.join__wrap .join__wrap--input input{
    width:100%;
    background-color:var(--color-basic2);
    border-radius:calc(30 / 16 * 1rem);
    height:calc(52 / 16 * 1rem);
    padding:calc(14 / 16 * 1rem) calc(50 / 16 * 1rem) calc(14 / 16 * 1rem) calc(16 / 16 * 1rem);
    font-size:calc(16 / 16 * 1rem);
}
.join__wrap .join__wrap--input input::placeholder{
    color:var(--color-basic6);
}
.join__wrap .join__wrap--input button{
    position:absolute; 
    right:calc(20 / 16 * 1rem);
    top:calc(12 / 16 * 1rem);
    background:center / 24px no-repeat url("../img/icon/send_icon24_gr.png");
    width:calc(52 / 16 * 1rem);
    height:calc(52 / 16 * 1rem);
}
.join__wrap--box .user-message{
    display: flex;
    justify-content:right;
    
}
.join__wrap--box .user-message .message-content{
    position:relative;
    background-color:var(--color-secondary);
    color:var(--color-white);
    border-radius:calc(20 / 16 * 1rem) calc(4 / 16 * 1rem)  calc(20 / 16 * 1rem)  calc(20 / 16 * 1rem);
    box-shadow: none;
    padding:calc(14 / 16 * 1rem) calc(20 / 16 * 1rem);
}
.join__wrap--box .user-message .user-message__edit{
    position:absolute;
    left:calc(-21 / 16 * 1rem);
    bottom:calc(-21 / 16 * 1rem);
    width:calc(42 / 16 * 1rem);
    height:calc(42 / 16 * 1rem);
    border-radius:50%;
    background:center / 14px no-repeat url("../img/icon/edit_icon14_bk.png") var(--color-white); 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    z-index:9;

}
.join__wrap--box .massage-btn{
    display:flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: calc(10 / 16* 1rem);
    animation: fadeIn 0.5s ease;
    justify-content: right;
}
.join__wrap--box .massage-btn button{
    padding:calc(12 / 16 * 1rem) calc(20 / 16 * 1rem) calc(12 / 16 * 1rem) calc(40 / 16 * 1rem);
    font-size:calc(14 / 16 * 1rem);
    font-weight:800;
    border:1px solid var(--color-basic3);
    border-radius:calc(10 / 16 * 1rem);
    color:var(--color-basic6);
    background:left 20px center / 12px no-repeat url("../img/icon/check_icon12_gr.png") var(--color-white);
}
.join__wrap--box .massage-btn button.active{
    border-color:var(--color-primary);
    color:var(--color-primary);
    background:left 20px center / 12px no-repeat url("../img/icon/check_icon12_or.png")rgba(245, 130, 32, 0.05);
}
.join__wrap--box .agree-checkbox{
    background-color: var(--color-white);
    padding:calc(20 / 16 * 1rem);
    border-radius:calc(20 / 16 * 1rem);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    margin-bottom:calc(10 / 16 * 1rem);
    animation: fadeIn 0.5s ease;
}
.join__wrap--box .agree-checkbox .guide-chkbox{
    display:flex;
    flex-direction: column;
    gap:calc(16 / 16 * 1rem);
    color:var(--color-basic9);
}
.join__wrap--box .agree-checkbox .guide-chkbox .checkbox{
    font-size:calc(15 / 16 * 1rem);
}
.join__wrap--box .checkbox button{
    background: center / 16px no-repeat url("../img/icon/right_icon16_bl.png");
    width:calc(24 / 16 * 1rem);
    height:calc(24 / 16 * 1rem);
    right:0;
    top:0;
    clip: auto;
    font-size: 0;
}
.join__wrap--box .auth-option{
    display: flex;
    justify-content: left;
    width:70%;
}
.join__wrap--box .auth-option div{
    background:var(--color-white);
    margin-bottom:calc(10 / 16 * 1rem);
    padding:calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
    border-radius:calc(4 / 16 * 1rem) calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
    animation: fadeIn 0.5s ease;
    color: var(--color-basic10);
    font-weight: 700;
    font-size: calc(15 / 16 * 1rem);
    line-height:calc(20 / 16 * 1rem);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}
.join__wrap--box .auth-option a{
    display:block;
    color:var(--color-primary);
    border-top:1px solid var(--color-basic2);
    padding-top:calc(14 / 16 * 1rem);
    margin-top:calc(14 / 16 * 1rem);
    background: right 8% top 76% / 16px no-repeat url("../img/icon/right_icon16_or.png");
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.join__wrap--info{
    display: flex;
    flex-direction: column;
    gap: calc(20 / 16* 1rem);
}
.join__wrap--info li{
    color:var(--color-basic8);
    line-height:calc(18 / 16 * 1rem);
    padding-left:calc(50 / 16 * 1rem);
    position:relative;
    color:var(--color-basic8);
    font-size:calc(12 / 16 * 1rem);
}
.join__wrap--info li::after{
    content:"";
    width: calc(40 / 16 * 1rem);
    height: calc(40 / 16 * 1rem);
    position:absolute;
    left:0;
    top:0;
    border-radius: calc(12 / 16 * 1rem);
}
.join__wrap--info li:nth-child(1)::after{
    background: center / 24px no-repeat url("../img/icon/interlock_icon24.png") var(--color-basic2);
}
.join__wrap--info li:nth-child(2)::after{
    background: center / 24px no-repeat url("../img/icon/phone_icon24.png") var(--color-basic2);
}
.join__wrap--info li:nth-child(3)::after{
    background: center / 24px no-repeat url("../img/icon/camera_icon24.png") var(--color-basic2);
}
.join__wrap--info li:nth-child(4)::after{
    background: center / 24px no-repeat url("../img/icon/alram_icon24.png") var(--color-basic2);
}
.join__wrap--info li strong{
    font-size:calc(15 / 16 * 1rem);
    font-weight:800;
    line-height:calc(23 / 16 * 1rem);
    color:var(--color-black);
}
.join__wrap--box .button__wrap{
    position:fixed;
    left:0;
    bottom:0;
    padding:calc(16 / 16 * 1rem) calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
}

/* //tag */
.tag__wrap {
    display: flex;
    align-items: center;
}
.is-hide {
    display: none !important;
}
.tag__wrap .tag__wrap--inner {
    display: flex;
    align-items: center;
    gap: calc(8 / 16 * 1rem);
    padding-left: calc(16 / 16 * 1rem);
}
.tag__wrap.scroll-box {
    overflow-x: scroll;
}
.tag__wrap.scroll-box .tag__wrap--inner {
    white-space: nowrap;
}
.tag__wrap .tag {
    display: flex;
    padding: calc(5 / 16 * 1rem) calc(8 / 16 * 1rem)  calc(5 / 16 * 1rem) calc(10 / 16 * 1rem);
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    background-color: var(--tag-bg);
    font-size: calc(12 / 16 * 1rem);
    font-weight: 400;
    line-height: calc(18 / 16 * 1rem);
    color: var(--color-secondary);
}
.tag__wrap .tag .btn-tag-remove {
    width:16px;
    height:16px;    
    display: flex;
    align-items: center;
}
.tag__wrap .tag .btn-tag-remove::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/icon/close_icon24_gr.png) no-repeat center center;
    background-size: 13px auto;
}
.search-page-top+.tag__wrap {
    margin-top: calc(8 / 16 * 1rem);
}

/* 아코디언 */
.accordion__list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 0 calc(16 / 16 * 1rem);
}
.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    background: var(--color-white);
    overflow: hidden;
    padding: 18px 20px;   
    gap: calc(13 / 16 * 1rem);        
}
.accordion-item .accordion-tit {
    width: 100%;
}
.accordion-item .accordion-tit button {
    width: 100%;
    font-size: calc(14 / 16 * 1rem);                   
    font-weight: 700;
    line-height: calc(20 / 16 * 1rem);
    color:var(--color-basic10);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}
.accordion-item .accordion-tit button::after {
    content: '';
    display: inline-flex;
    width: 24px;
    height: 24px;
    background: url('../img/icon/top_icon24_gr.png') no-repeat center center;
    background-size: cover;
    transition: all 0.3s;
}
.accordion-item.is-active .accordion-content  {
    border-top: 1px solid var(--color-basic3);
    color: var(--color-basic8);
    font-size: calc(14 / 16 * 1rem);  
    font-weight: 400;
    line-height: calc(20 / 16 * 1rem);
    padding-top: calc(16 / 16 * 1rem);
    display: block;
}
.accordion-item .accordion-content {
    display: none;
}


/* //스크롤바 숨기기 */
.scroll-box {
-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scroll-box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
/* 아이콘 */
.ico-all {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_all_16.png') no-repeat center center;
    background-size: contain;
}    
.ico-common {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_common_16.png') no-repeat center center;
    background-size: contain;
}
.ico-health {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_health_16.png') no-repeat center center;
    background-size: contain;
}
.ico-fund {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_fund_16.png') no-repeat center center;
    background-size: contain;
}
.ico-pension {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_pension_16.png') no-repeat center center;
    background-size: contain;
}

.ico-planing {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_planing_16.png') no-repeat center center;
    background-size: contain;
}
.icon_subscription {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_subscription_16.png') no-repeat center center;
    background-size: contain;
}
.icon_insu_pay {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_insu_pay_16.png') no-repeat center center;
    background-size: contain;
}
.icon_online_insu {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_online_insu_16.png') no-repeat center center;
    background-size: contain;
}
.icon_goods {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_goods_16.png') no-repeat center center;
    background-size: contain;
}
.icon_insurance {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_insurance_16.png') no-repeat center center;
    background-size: contain;
}
.icon_orther {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: url('../img/icon/icon_orther_16.png') no-repeat center center;
    background-size: contain;
}