@import url(_mixin.scss);

//센터 소개
.help-text {
    padding: calc(0 / 16 * 1rem) calc(26 / 16 * 1rem) calc(20 / 16 * 1rem); 
    color: var(--color-basic9);
    font-size: calc(20 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(26 / 16 * 1rem); 
}
.service-center__wrap {
    padding: calc(0 / 16 * 1rem) calc(16 / 16 * 1rem) calc(50 / 16 * 1rem) ; 
    display: flex;
    flex-direction: column;
    gap: 8px;
    li {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;    
        flex-direction: column;     
        gap: 16px;
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
        border-radius: 20px;
        background: var(--color-white);
        overflow: hidden;
        padding: calc(18 / 16 * 1rem) calc(20 / 16 * 1rem) calc(18 / 16 * 1rem) calc(90 / 16 * 1rem);   
        gap: calc(8 / 16 * 1rem);  
        .service-title {
            .tit {
                font-size: calc(16 / 16 * 1rem);
                font-weight: 800;
                line-height: calc(22 / 16 * 1rem);
                color: var(--color-basic9);
            }
            .text {
                color: var(--color-basic8);            
                font-size: calc(12 / 16 * 1rem);            
                font-weight: 700;
                line-height: calc(18 / 16 * 1rem);
                border-bottom: 1px solid var(--color-basic3);
                padding: 4px 0 20px;
                a {
                    color:var(--color-primary);
                }
            }
        }
        .service-content {
            .text {
                font-size: calc(12 / 16 * 1rem);
                font-weight: 700;
                line-height: calc(18 / 16 * 1rem);
                color: var(--color-basic8);
            }
            .text1 {
                color: var(--color-basic8);                
                font-size:  calc(14 / 16 * 1rem);                
                font-weight: 700;
                line-height: calc(20 / 16 * 1rem);
                margin-top: calc(20 / 16 * 1rem);
                &+.tel {
                    margin-top:calc(4 / 16 * 1rem);
                }
            }
            .text2 {
                color: var(--color-basic6);                
                font-size:  calc(12 / 16 * 1rem);                
                font-weight: 700;
                line-height: calc(18 / 16 * 1rem);                
                margin-top:calc(4 / 16 * 1rem);
            }
            .tel {
                color:var(--color-primary);
                font-size: calc(16 / 16 * 1rem);
                font-weight: 800;
                line-height: calc(22 / 16 * 1rem);
                background: url('../img/icon/icon_tel_16.png') no-repeat left 1px;
                background-size: contain;
                padding-left: calc(20 / 16 * 1rem);
                margin-top: calc(12 / 16 * 1rem);
            }
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
            width: 48px;
            height: 50px;
            background-size: contain;
        }
        &:nth-child(1) {
            &::before {
                background: url('../img/icon/icon_service_center01.png') no-repeat center center;                
            }
        }
        &:nth-child(2) {
            &::before {
                background: url('../img/icon/icon_service_center02.png') no-repeat center center;
            }
        }     
        &:nth-child(3) {
            &::before {
                background: url('../img/icon/icon_service_center03.png') no-repeat center center;
            }
        }
        &:nth-child(4) {
            &::before {
                background: url('../img/icon/icon_service_center04.png') no-repeat center center;
            }
        }  
        &:nth-child(5) {
            &::before {
                background: url('../img/icon/icon_service_center05.png') no-repeat center center;
            }
        }                           
    }
}

// 공지사항 목록
.form-element__wrap {
    &.search-page-top  {
        padding: 0 calc(16 / 16 * 1rem);        
        .form-element__inner {
            background-color: var(--color-basic2);
            border: 0;
            input {
                background-color: transparent;
                color: var(--color-basic6);
                &::placeholder {
                    color: var(--color-basic6);    
                }
            }
        }
    }
    
}
.search-result-nodata {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 100px);
    gap: calc(16 / 16 * 1rem);
    i {
        display: inline-flex;
        width: 56px;
        height: 56px;
        background: url('../img/icon/info_icon56_empty_gr.png') no-repeat center center;
        background-size: 56px auto;
    }
    .msg {
        color: var(--color-basic6);
        font-size: calc(15 / 16 * 1rem);        
        font-weight: 700;
        line-height: calc(20 / 16 * 1rem);        
    }
}
.notice__wrap {
    margin-top: calc(20 / 16 * 1rem);
    height: calc(100vh - 150px);
}
.total-count {
    color: var(--color-basic7);
    font-size: calc(12 / 16 * 1rem);    
    font-weight: 700;
    line-height: calc(18 / 16 * 1rem);
    padding: 0 calc(16 / 16 * 1rem);
    margin-top: calc(5 / 16 * 1rem);
    strong {
        color: var(--color-basic9);
    }
}

// 게시판 목록
.article-list {
    margin-top: calc(10 / 16 * 1rem);
    display: flex;
    flex-direction: column;
    padding: 0 calc(16 / 16 * 1rem) calc(32 / 16 * 1rem);
    gap: 8px;
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;         
        gap: 16px;
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
        border-radius: 20px;
        background: var(--color-white);
        overflow: hidden;
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18px 20px;   
            gap: calc(13 / 16 * 1rem);       
            &::after {
                content: '';
                display: inline-flex;
                width: 24px;
                height: 24px;
                background: url('../img/icon/right_icon24_gr.png') no-repeat center;
                background-size: cover;
            }      
            .title-area {
                display: flex;
                flex-direction: column;
                gap: calc(4 / 16 * 1rem);
                flex: 1;
                .title {
                    font-size: calc(14 / 16 * 1rem);                   
                    font-weight: 700;
                    line-height: calc(20 / 16 * 1rem);
                    color:var(--color-basic10);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                .date {
                    color: var(--color-basic7);
                    font-size: calc(12 / 16 * 1rem);                    
                    font-weight: 400;
                    line-height: calc(18 / 16 * 1rem); 
                }
            }
        }
    }
}
.scroll-target {
    padding: 50px 0;
}
.loading {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: var(--color-basic3);
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
    margin: 0 auto;   
}
@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
        box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
        box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
        box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
        box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
}

.article-view__wrap {
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    .article-view__title {
        padding: 0 calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
        display: flex;        
        justify-content: space-between;
        gap: calc(8 / 16 * 1rem);
        .event-info {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: calc(8 / 16 * 1rem);
        }
        i {
            margin-top: 3px;
        }
        .title {
            flex:1;
            color: var(--color-basic10);           
            font-size: calc(16 / 16 * 1rem);            
            font-weight: 700;
            line-height: calc(22 / 16 * 1rem);     
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;                   
        }
        .date {
            margin-top: 4px;
            color: var(--color-basic7);
            font-size: calc(12 / 16 * 1rem);            
            font-weight: 400;
            line-height: calc(18 / 16 * 1rem);
        }
    }
    .article-view__content {
        flex:1;
        padding: 0 calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
        color: var(--color-basic9);
        font-size: calc(14 / 16 * 1rem);
        font-weight: 400;
        line-height: calc(20 / 16 * 1rem); 
        overflow: auto;
        img {
            margin-top: calc(20 / 16 * 1rem);
            width: 100%;
            max-width: 100%;
        }
    }
    .button__wrap {
        padding: 0 calc(20 / 16 * 1rem);
    }
}
// faq
.faq-list {
    margin-top: 15px;
}
.event__wrap .tab-btns {
    padding: calc(0 / 16 * 1rem) var(--tab-btns-padding-horizontal);
}
.event-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: calc(24 / 16 * 1rem) calc(16 / 16 * 1rem);  
    li {
        position: relative;
        a {
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: relative;
            .event-thumbnail {
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
            .title-area {
                .title {
                    font-size: calc(14 / 16 * 1rem);                   
                    font-weight: 700;
                    line-height: calc(20 / 16 * 1rem);
                    color:var(--color-basic10);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                .date {
                    color: var(--color-basic7);
                    font-size: calc(12 / 16 * 1rem);                    
                    font-weight: 400;
                    line-height: calc(18 / 16 * 1rem); 
                }
            }
        }  
        .chip__wrap {
            position: absolute;
            right: calc(16 / 16 * 1rem);
            top: calc(16 / 16 * 1rem);
            z-index: 15;
            color: var(--color-white);
        }     
        &.type-end {
            a {
                .event-thumbnail {
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left:0;
                        top:0;
                        background: rgba(0, 0, 0, 0.50);
                    }
                }

            }
        }     
    }
}