@import url(mixin.scss);
.form-element__wrap.search-page-top {
  padding: 0 1rem;
}
.form-element__wrap.search-page-top .form-element__inner {
  background-color: var(--color-basic2);
  border: 0;
}
.form-element__wrap.search-page-top .form-element__inner input {
  background-color: transparent;
  color: var(--color-basic6);
}
.form-element__wrap.search-page-top .form-element__inner input::placeholder {
  color: var(--color-basic6);
}

.search-result-nodata {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 100px);
  gap: 1rem;
}
.search-result-nodata i {
  display: inline-flex;
  width: 56px;
  height: 56px;
  background: url("../img/icon/info_icon56_empty_gr.png") no-repeat center center;
  background-size: 56px auto;
}
.search-result-nodata .msg {
  color: var(--color-basic6);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.notice__wrap {
  margin-top: 1.25rem;
  height: calc(100vh - 150px);
}

.total-count {
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 0 1rem;
  margin-top: 0.3125rem;
}
.total-count strong {
  color: var(--color-basic9);
}

.aricle-list {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 8px;
}
.aricle-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: var(--color-white);
  overflow: hidden;
}
.aricle-list li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  gap: 0.8125rem;
}
.aricle-list li a::after {
  content: "";
  display: inline-flex;
  width: 24px;
  height: 24px;
  background: url("../img/icon/right_icon24_gr.png") no-repeat center;
  background-size: cover;
}
.aricle-list li a .title-area {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}
.aricle-list li a .title-area .title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--color-basic10);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.aricle-list li a .title-area .date {
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.loading {
  text-align: center;
  padding: 30px;
  font-size: 1.2em;
  color: #888;
}

.article-view__wrap {
  height: calc(100vh - 86px);
  display: flex;
  flex-direction: column;
}
.article-view__wrap .article-view__title {
  padding: 0 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.article-view__wrap .article-view__title i {
  margin-top: 3px;
}
.article-view__wrap .article-view__title .title {
  flex: 1;
  color: var(--color-basic10);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.article-view__wrap .article-view__title .date {
  margin-top: 4px;
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.article-view__wrap .article-view__content {
  flex: 1;
  padding: 0 1.25rem 1.25rem;
  color: var(--color-basic9);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  overflow: auto;
}
.article-view__wrap .article-view__content img {
  margin-top: 1.25rem;
  width: 100%;
  max-width: 100%;
}
.article-view__wrap .button__wrap {
  padding: 0 1.25rem;
}

.faq-list {
  margin-top: 15px;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1.5rem 1rem;
}
.event-list li {
  position: relative;
}
.event-list li a {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.event-list li a .event-thumbnail img {
  width: 100%;
  max-width: 100%;
}
.event-list li a .title-area .title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--color-basic10);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.event-list li a .title-area .date {
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.event-list li .chip__wrap {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 15;
  color: var(--color-white);
}
.event-list li.type-end a .event-thumbnail {
  position: relative;
}
.event-list li.type-end a .event-thumbnail::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}