/*회원가입*/
.join__wrap {
    width:100%;
    height: calc(100vh - 56px);
    background:#F5F5F5;
    padding-bottom:calc(76 / 16 * 1rem);
    .join__wrap--box {
        padding:calc(30 / 16 * 1rem) calc(16 / 16 * 1rem) calc(100 / 16 * 1rem);
        overflow-y: auto;
        background:#F5F5F5; 
        .bot-message{
            display: flex;
            justify-content: left;
            padding-top: calc(58 / 16 * 1rem);
            &.first-msg{
                padding-top:calc(38 / 16 * 1rem);
            }
        }
        .message-content{
            margin-bottom:calc(20 / 16 * 1rem);
            padding:calc(16 / 16 * 1rem) calc(24 / 16 * 1rem);
            border-radius:calc(4 / 16 * 1rem) calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
            animation: fadeIn 0.5s ease;
            color: var(--color-basic10);
            font-weight: 700;
            font-size: calc(17 / 16 * 1rem);
            line-height:calc(20 / 16 * 1rem);
            background-color:var(--color-white);
            position:relative;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
            &::after{
                content:"";
                width:calc(50 / 16 * 1rem);
                height:calc(50 / 16 * 1rem);
                background: center / cover no-repeat url("../img/icon/chat_icon42_or.png");
                position:absolute;
                left:0;
                top:calc(-42 / 16 * 1rem);
            }
        }
        .massage-btn{
            display:flex;
            flex-wrap: wrap;
            gap: 6px;
            margin: calc(-10 / 16* 1rem) 0 calc(20 / 16* 1rem);
            animation: fadeIn 0.5s ease;
            justify-content: right;
            button{
                padding:calc(14 / 16 * 1rem);
                font-size:calc(16  / 16 * 1rem);
                font-weight:800;
                border:1px solid var(--color-basic3);
                border-radius:calc(10 / 16 * 1rem);
                color:var(--color-basic6);
                background: var(--color-white);
                flex: 1 1 40%;
            }
            &.type02{
                justify-content: right;
                padding-left:25%;
            }
            &.active{
                border-color:var(--color-primary);
                color:var(--color-primary);
            }
        }
        .agree-checkbox{
            background-color: var(--color-white);
            padding:calc(24 / 16 * 1rem);
            border-radius:calc(20 / 16 * 1rem);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
            margin-bottom:calc(20 / 16 * 1rem);
            animation: fadeIn 0.5s ease;
            .guide-chkbox{
                display:flex;
                flex-direction: column;
                gap:calc(16 / 16 * 1rem);
                color:var(--color-basic9);
                .checkbox{
                    font-size:calc(17 / 16 * 1rem);
                    color:var(--color-basic10)
                }
            }
        }
        .checkbox button{
            background: center / 16px no-repeat url("../img/icon/right_icon16_bl.png");
            width:calc(24 / 16 * 1rem);
            height:calc(24 / 16 * 1rem);
            right:0;
            top:0;
            clip: auto;
            font-size: 0;
        }
        .auth-option{
            display: flex;
            justify-content: left;
            min-width:70%;
            .message-content::after{
                display:none;
            }
        }
        a.arrow_link{
            display:block;
            color:var(--color-primary);
            border-top:1px solid var(--color-basic2);
            padding-top:calc(14 / 16 * 1rem);
            margin-top:calc(14 / 16 * 1rem);
            i{
                background: right / 16px no-repeat url("../img/icon/right_icon16_or.png"); 
                padding-right:calc(16 / 16 * 1rem);
                font-style: normal;
            }
        }
        .button__wrap{
            position:fixed;
            left:0;
            bottom:0;
            padding:calc(16 / 16 * 1rem) calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
        }

        //입력한 메세지 
        .user-message{
            display: flex;
            justify-content:right;
            .message-content{
                position:relative;
                background-color:var(--color-secondary);
                color:var(--color-white);
                border-radius:calc(20 / 16 * 1rem) calc(4 / 16 * 1rem)  calc(20 / 16 * 1rem)  calc(20 / 16 * 1rem);
                box-shadow: none;
                &::after{
                    display:none;
                }
                .user-message__edit{
                    position:absolute;
                    left:calc(-21 / 16 * 1rem);
                    bottom:calc(-21 / 16 * 1rem);
                    width:calc(42 / 16 * 1rem);
                    height:calc(42 / 16 * 1rem);
                    border-radius:50%;
                    background:center / 14px no-repeat url("../img/icon/edit_icon14_bk.png") var(--color-white); 
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
                    z-index:9;
                }
            }
        }
    }

    //입력창 
    .join__wrap--input {
        display: flex;
        padding: calc(12 / 16 * 1rem) calc(20 / 16 * 1rem);
        position:fixed; 
        left:0;
        bottom:0;
        width:100%;
        z-index:10;
        background-color:var(--color-white);
        box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.05);
        input{
            width:100%;
            background-color:var(--color-basic2);
            border-radius:calc(30 / 16 * 1rem);
            height:calc(52 / 16 * 1rem);
            padding:calc(14 / 16 * 1rem) calc(50 / 16 * 1rem) calc(14 / 16 * 1rem) calc(16 / 16 * 1rem);
            font-size:calc(16 / 16 * 1rem);
            font-weight: 700;
            &::placeholder{
                color:var(--color-basic6);
            }
        }
        button{
            position:absolute; 
            right:calc(20 / 16 * 1rem);
            top:calc(12 / 16 * 1rem);
            background:center / 24px no-repeat url("../img/icon/send_icon24_gr.png");
            width:calc(52 / 16 * 1rem);
            height:calc(52 / 16 * 1rem);
        }
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.join__wrap--info{
    display: flex;
    flex-direction: column;
    gap: calc(20 / 16* 1rem);
    li{
        color:var(--color-basic8);
        line-height:calc(18 / 16 * 1rem);
        padding-left:calc(66 / 16 * 1rem);
        position:relative;
        color:var(--color-basic8);
        font-size:calc(13 / 16 * 1rem);
        font-weight:700;
        &::after{
            content:"";
            width: calc(50 / 16 * 1rem);
            height: calc(50 / 16 * 1rem);
            position:absolute;
            left:0;
            top:0;
            border-radius: calc(20 / 16 * 1rem);
        }
        &:nth-child(1)::after{
            background: center / 24px no-repeat url("../img/icon/interlock_icon24.png") var(--color-basic2);
        }
        &:nth-child(2)::after{
            background: center / 24px no-repeat url("../img/icon/phone_icon24.png") var(--color-basic2);
        }
        &:nth-child(3)::after{
            background: center / 24px no-repeat url("../img/icon/camera_icon24.png") var(--color-basic2);
        }
        &:nth-child(4)::after{
            background: center / 24px no-repeat url("../img/icon/alram_icon24.png") var(--color-basic2);
        }
        strong{
            font-size:calc(17 / 16 * 1rem);
            font-weight:700;
            line-height:calc(22 / 16 * 1rem);
            color:var(--color-black);
            padding-bottom:calc(4 / 16 * 1rem);
            display: flex;
        }
    }
}

//sub-layout
.sub__content{
    .sub__content--box{
        padding:0 calc(16 / 16 * 1rem);
        margin-bottom:50px;
        .sub__content--shadowbox{
            border-radius: calc(20 / 16 * 1rem);
            background: var(--color-white);
            box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.10);
        } 
    }

    .sub__content--title{
        display:flex;
        justify-content: space-between;
        padding:0 calc(16 / 16 * 1rem);
        color:var(--color-basic10);
        line-height:calc(22 / 16 * 1rem);
        h3{
            font-size:calc(16 / 16 * 1rem);
            font-weight: 800;
            span{
                color:var(--color-primary);
            }
        }
    } 
}

//하단 고정버튼
.sub__bottom--fixed{
    padding:calc(20 / 16 * 1rem) calc(16 / 16 * 1rem);
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    z-index: 2;
}

/*운동*/
.text-button{
    font-size:calc(14 / 16 * 1rem);
    padding-top:calc(12 / 16 * 1rem);
}
.img_analysis{
    padding:calc(24 / 16 * 1rem);
    height:calc(260 / 16 * 1rem);
    background: center bottom / 160px no-repeat url("../img/icon/img_analysis.png");
    color:var(--color-basic10);
    font-weight:700;
}

// /*회원가입*/
// .join__wrap {
//     width:100%;
//     height: calc(100vh - 56px);
//     background:#F5F5F5;
//     padding-bottom:calc(76 / 16 * 1rem);
// }
// .join__wrap .join__wrap--box {
//     padding:calc(30 / 16 * 1rem) calc(16 / 16 * 1rem) calc(100 / 16 * 1rem);
//     overflow-y: auto;
//     background:#F5F5F5; 
// }
// .join__wrap--box .bot-message{
//     display: flex;
//     justify-content: left;
//     padding-top: calc(58 / 16 * 1rem);
// }
// .join__wrap--box .message-content{
//     margin-bottom:calc(20 / 16 * 1rem);
//     padding:calc(16 / 16 * 1rem) calc(24 / 16 * 1rem);
//     border-radius:calc(4 / 16 * 1rem) calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
//     animation: fadeIn 0.5s ease;
//     color: var(--color-basic10);
//     font-weight: 700;
//     font-size: calc(17 / 16 * 1rem);
//     line-height:calc(20 / 16 * 1rem);
//     background-color:var(--color-white);
//     position:relative;
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
// }
// .bot-message .message-content::after{
//     content:"";
//     width:calc(50 / 16 * 1rem);
//     height:calc(50 / 16 * 1rem);
//     background: center / cover no-repeat url("../img/icon/chat_icon42_or.png");
//     position:absolute;
//     left:0;
//     top:calc(-42 / 16 * 1rem);
// }
// .bot-message.first-msg{
//     padding-top:calc(38 / 16 * 1rem);
// }
// .join__wrap .join__wrap--input {
//     display: flex;
//     padding: calc(12 / 16 * 1rem) calc(20 / 16 * 1rem);
//     position:fixed; 
//     left:0;
//     bottom:0;
//     width:100%;
//     z-index:10;
//     background-color:var(--color-white);
//     box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.05);
// }
// .join__wrap .join__wrap--input input{
//     width:100%;
//     background-color:var(--color-basic2);
//     border-radius:calc(30 / 16 * 1rem);
//     height:calc(52 / 16 * 1rem);
//     padding:calc(14 / 16 * 1rem) calc(50 / 16 * 1rem) calc(14 / 16 * 1rem) calc(16 / 16 * 1rem);
//     font-size:calc(16 / 16 * 1rem);
//     font-weight: 700;
// }
// .join__wrap .join__wrap--input input::placeholder{
//     color:var(--color-basic6);
// }
// .join__wrap .join__wrap--input button{
//     position:absolute; 
//     right:calc(20 / 16 * 1rem);
//     top:calc(12 / 16 * 1rem);
//     background:center / 24px no-repeat url("../img/icon/send_icon24_gr.png");
//     width:calc(52 / 16 * 1rem);
//     height:calc(52 / 16 * 1rem);
// }
// .join__wrap--box .user-message{
//     display: flex;
//     justify-content:right;
    
// }
// .join__wrap--box .user-message .message-content{
//     position:relative;
//     background-color:var(--color-secondary);
//     color:var(--color-white);
//     border-radius:calc(20 / 16 * 1rem) calc(4 / 16 * 1rem)  calc(20 / 16 * 1rem)  calc(20 / 16 * 1rem);
//     box-shadow: none;
// }
// .join__wrap--box .user-message .user-message__edit{
//     position:absolute;
//     left:calc(-21 / 16 * 1rem);
//     bottom:calc(-21 / 16 * 1rem);
//     width:calc(42 / 16 * 1rem);
//     height:calc(42 / 16 * 1rem);
//     border-radius:50%;
//     background:center / 14px no-repeat url("../img/icon/edit_icon14_bk.png") var(--color-white); 
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
//     z-index:9;

// }
// .join__wrap--box .massage-btn{
//     display:flex;
//     flex-wrap: wrap;
//     gap: 6px;
//     margin: calc(-10 / 16* 1rem) 0 calc(20 / 16* 1rem);
//     animation: fadeIn 0.5s ease;
//     justify-content: right;
// }
// .join__wrap--box .massage-btn button{
//     padding:calc(14 / 16 * 1rem);
//     font-size:calc(16  / 16 * 1rem);
//     font-weight:800;
//     border:1px solid var(--color-basic3);
//     border-radius:calc(10 / 16 * 1rem);
//     color:var(--color-basic6);
//     background: var(--color-white);
//     flex: 1 1 40%;
// }
// .join__wrap--box .massage-btn.type02{
//     justify-content: right;
//     padding-left:25%;
// }
// .join__wrap--box .massage-btn button.active{
//     border-color:var(--color-primary);
//     color:var(--color-primary);
// }
// .join__wrap--box .agree-checkbox{
//     background-color: var(--color-white);
//     padding:calc(24 / 16 * 1rem);
//     border-radius:calc(20 / 16 * 1rem);
//     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
//     margin-bottom:calc(20 / 16 * 1rem);
//     animation: fadeIn 0.5s ease;
// }
// .join__wrap--box .agree-checkbox .guide-chkbox{
//     display:flex;
//     flex-direction: column;
//     gap:calc(16 / 16 * 1rem);
//     color:var(--color-basic9);
// }
// .join__wrap--box .agree-checkbox .guide-chkbox .checkbox{
//     font-size:calc(17 / 16 * 1rem);
//     color:var(--color-basic10)
// }
// .join__wrap--box .checkbox button{
//     background: center / 16px no-repeat url("../img/icon/right_icon16_bl.png");
//     width:calc(24 / 16 * 1rem);
//     height:calc(24 / 16 * 1rem);
//     right:0;
//     top:0;
//     clip: auto;
//     font-size: 0;
// }
// .join__wrap--box .auth-option{
//     display: flex;
//     justify-content: left;
//     min-width:70%;
// }
// .join__wrap--box a.arrow_link{
//     display:block;
//     color:var(--color-primary);
//     border-top:1px solid var(--color-basic2);
//     padding-top:calc(14 / 16 * 1rem);
//     margin-top:calc(14 / 16 * 1rem);
    
// }
// .join__wrap--box a.arrow_link i{
//     background: right / 16px no-repeat url("../img/icon/right_icon16_or.png"); 
//     padding-right:calc(16 / 16 * 1rem);
//     font-style: normal;
// }
// @keyframes fadeIn {
//     from {
//         opacity: 0;
//         transform: translateY(10px);
//     }
//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }
// .join__wrap--info{
//     display: flex;
//     flex-direction: column;
//     gap: calc(20 / 16* 1rem);
// }
// .join__wrap--info li{
//     color:var(--color-basic8);
//     line-height:calc(18 / 16 * 1rem);
//     padding-left:calc(66 / 16 * 1rem);
//     position:relative;
//     color:var(--color-basic8);
//     font-size:calc(13 / 16 * 1rem);
//     font-weight:700;
// }
// .join__wrap--info li::after{
//     content:"";
//     width: calc(50 / 16 * 1rem);
//     height: calc(50 / 16 * 1rem);
//     position:absolute;
//     left:0;
//     top:0;
//     border-radius: calc(20 / 16 * 1rem);
// }
// .join__wrap--info li:nth-child(1)::after{
//     background: center / 24px no-repeat url("../img/icon/interlock_icon24.png") var(--color-basic2);
// }
// .join__wrap--info li:nth-child(2)::after{
//     background: center / 24px no-repeat url("../img/icon/phone_icon24.png") var(--color-basic2);
// }
// .join__wrap--info li:nth-child(3)::after{
//     background: center / 24px no-repeat url("../img/icon/camera_icon24.png") var(--color-basic2);
// }
// .join__wrap--info li:nth-child(4)::after{
//     background: center / 24px no-repeat url("../img/icon/alram_icon24.png") var(--color-basic2);
// }
// .join__wrap--info li strong{
//     font-size:calc(17 / 16 * 1rem);
//     font-weight:700;
//     line-height:calc(22 / 16 * 1rem);
//     color:var(--color-black);
//     padding-bottom:calc(4 / 16 * 1rem);
//     display: flex;
// }
// .join__wrap--box .button__wrap{
//     position:fixed;
//     left:0;
//     bottom:0;
//     padding:calc(16 / 16 * 1rem) calc(16 / 16 * 1rem) calc(20 / 16 * 1rem);
// }