@import url(mixin.scss);
.help-text {
  padding: 1.25rem 1.625rem 1.25rem;
  color: var(--color-basic9);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.service-center__wrap {
  padding: 0rem 1rem 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.service-center__wrap li {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: var(--color-white);
  overflow: hidden;
  padding: 1.25rem 1.5rem 1.25rem 6.25rem;
  gap: 0.5rem;
}
.service-center__wrap li .service-title .tit {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.375rem;
  color: var(--color-basic9);
}
.service-center__wrap li .service-title .text {
  color: var(--color-basic8);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  border-bottom: 1px solid var(--color-basic3);
  padding: 4px 0 20px;
}
.service-center__wrap li .service-title .text a {
  color: var(--color-primary);
  margin-bottom: 0.0625rem;
  border-bottom: 0.0625rem solid var(--color-primary);
  font-weight: 800;
}
.service-center__wrap li .service-content .text {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  color: var(--color-basic8);
}
.service-center__wrap li .service-content .text1 {
  color: var(--color-basic8);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin-top: 1.25rem;
}
.service-center__wrap li .service-content .text1 + .tel {
  margin-top: 0.25rem;
}
.service-center__wrap li .service-content .text2 {
  color: var(--color-basic6);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  margin-top: 0.25rem;
}
.service-center__wrap li .service-content .tel {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.375rem;
  background: url("../img/icon/icon_tel_16.png") no-repeat left 1px;
  background-size: contain;
  padding-left: 1.25rem;
  margin-top: 0.5rem;
}
.service-center__wrap li::before {
  content: "";
  display: block;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 50px;
  background-size: contain !important;
}
.service-center__wrap li:nth-child(1)::before {
  background: url("../img/icon/icon_service_center01.png") no-repeat center center;
}
.service-center__wrap li:nth-child(2)::before {
  background: url("../img/icon/icon_service_center02.png") no-repeat center center;
}
.service-center__wrap li:nth-child(3)::before {
  background: url("../img/icon/icon_service_center03.png") no-repeat center center;
}
.service-center__wrap li:nth-child(4)::before {
  background: url("../img/icon/icon_service_center04.png") no-repeat center center;
}
.service-center__wrap li:nth-child(5)::before {
  background: url("../img/icon/icon_service_center05.png") no-repeat center center;
}

.form-element__wrap.search-page-top {
  padding: 1.25rem 1rem 0;
}
.form-element__wrap.search-page-top .form-element__inner {
  background-color: var(--color-basic2);
  border: 0;
}
.form-element__wrap.search-page-top .form-element__inner input {
  background-color: transparent;
  color: var(--color-basic6);
}
.form-element__wrap.search-page-top .form-element__inner input::-moz-placeholder {
  color: var(--color-basic6);
}
.form-element__wrap.search-page-top .form-element__inner input::placeholder {
  color: var(--color-basic6);
}

.search-result-nodata {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 100px);
  gap: 1rem;
}
.search-result-nodata i {
  display: inline-flex;
  width: 56px;
  height: 56px;
  background: url("../img/icon/info_icon56_empty_gr.png") no-repeat center center;
  background-size: 56px auto;
}
.search-result-nodata .msg {
  color: var(--color-basic6);
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.notice__wrap {
  margin-top: 0.5rem;
  height: calc(100vh - 150px);
}
.notice__wrap .tab-content-group {
  background-color: var(--color-basic1);
}

.total-count {
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 0 1rem;
  margin-top: 0.3125rem;
}
.total-count strong {
  color: var(--color-basic9);
  font-weight: 800;
}

.article-list {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2rem;
  gap: 8px;
}
.article-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: var(--color-white);
  overflow: hidden;
}
.article-list li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
}
.article-list li a::after {
  content: "";
  display: inline-flex;
  width: 24px;
  height: 24px;
  background: url("../img/icon/right_icon24_gr.png") no-repeat center;
  background-size: cover;
}
.article-list li a .title-area {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
  margin-left: 1rem;
  width: calc(100% - 80px);
}
.article-list li a .title-area .title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--color-basic10);
  position: relative;
  display: flex;
  align-items: center;
}
.article-list li a .title-area .title p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.article-list li a .title-area .date {
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.article-list li a .title-area .new_icon {
  width: 1rem;
  height: 1rem;
  display: block;
  background: url("../img/icon/new_icon16.png") no-repeat center center;
  background-size: contain;
}

.scroll-target {
  padding: 50px 0;
  background-color: var(--color-basic1);
}

.loading {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: var(--color-basic3);
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
  margin: 0 auto;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}
.article-view__wrap {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
}
.article-view__wrap .article-view__title {
  padding: 0 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.article-view__wrap .article-view__title .event-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 0.5rem;
}
.article-view__wrap .article-view__title i {
  margin-top: 3px;
  flex: 0 0 1rem;
}
.article-view__wrap .article-view__title .title {
  flex: 1;
  color: var(--color-basic10);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
}
.article-view__wrap .article-view__title .date {
  margin-top: 4px;
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.article-view__wrap .article-view__content {
  flex: 1;
  padding: 0 1.25rem 0;
  color: var(--color-basic9);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  overflow: auto;
}
.article-view__wrap .article-view__content img {
  margin-top: 1.25rem;
  width: 100%;
  max-width: 100%;
  border-radius: 1.25rem;
}
.article-view__wrap .button__wrap {
  padding: 1.25rem 1rem;
  background-color: var(--color-basic1);
}

.faq-list {
  margin-top: 15px;
  background-color: var(--color-basic1);
}

.event__wrap .tab-btns {
  padding: 1.25rem var(--tab-btns-padding-horizontal) 1.5rem;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 1rem 1.5rem;
}
.event-list li {
  position: relative;
}
.event-list li a {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.event-list li a .event-thumbnail img {
  width: 100%;
  max-width: 100%;
}
.event-list li a .title-area .title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--color-basic10);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.event-list li a .title-area .date {
  color: var(--color-basic7);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.event-list li .chip__wrap {
  position: absolute;
  right: 1.0625rem;
  top: 0.875rem;
  z-index: 1;
  color: var(--color-white);
}
.event-list li.type-end a .event-thumbnail {
  position: relative;
}
.event-list li.type-end a .event-thumbnail::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.875rem;
}
.event-list li.type-end .chip.bg-dark {
  background-color: var(--color-basic9);
  color: var(--color-basic4);
}

.tab-pane1 {
  padding: 0;
}

.tab-btns.type-icon .tab-button-list li a {
  font-size: 0.875rem;
}
.tab-btns.type-icon .tab-button-list li a .active {
  font-weight: 800;
}