@charset "UTF-8";
@import url(_mixin.scss);
/* 레이아웃 헤더 */
.header__wrap {
  height: 56px;
  padding: 1rem;
  /* position: sticky; */
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--color-white);
  z-index: 2;
}

.header__inner--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__inner--nav .nav-list {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
.header__inner--nav .nav-list li a {
  font-size: 20px;
  font-weight: 800;
  line-height: 26px;
  color: var(--color-basic4);
  position: relative;
}
.header__inner--nav .nav-list li.is-active a {
  color: var(--color-black);
}
.header__inner--nav .nav-list li.is-active a::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  right: -5px;
  top: -3px;
  background-color: var(--color-primary);
}

/* // util menu */
.header__utils {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
.header__utils .btn-alert {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
}
.header__utils .btn-alert i {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon/alarm_icon24_bl.png") no-repeat center;
  background-size: contain;
}
.header__utils .btn-hamburger {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
}
.header__utils .btn-hamburger i {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon/menu_icon24_bl.png") no-repeat center;
  background-size: contain;
}
.header__utils .btn-share {
  width: 1.1875rem;
  height: 1.375rem;
  border-radius: 0;
}
.header__utils .btn-share i {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon/icon_share_r4.png") no-repeat center;
  background-size: contain;
}

/* 서브 페이지 */
.content {
  padding-top: 56px;
}
.content.bg-color-basic1 {
  background-color: var(--color-basic1);
  padding-top: 3.5rem;
}

.sub-title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.sub-title .btn-back {
  width: 24px;
  height: 24px;
}
.sub-title .btn-back i {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icon/bigleft_icon24_bl.png") no-repeat 0px center;
  background-size: 24px auto;
}

.bottom-sheet__wrap {
  position: fixed;
  bottom: calc(-50vh - 32px);
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  z-index: 15;
  padding-bottom: 32px;
  transition: all 0.3s;
}
.bottom-sheet__wrap.is-collapsed {
  bottom: 0;
  transition: all 0.3s;
}
.bottom-sheet__wrap .sheet-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.bottom-sheet__wrap .sheet-header .btn-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 0 16px;
  width: 100%;
}
.bottom-sheet__wrap .sheet-header .btn-bar::after {
  content: "";
  display: inline-flex;
  width: 48px;
  height: 5px;
  background: var(--color-black);
  border-radius: 8px;
}
.bottom-sheet__wrap .sheet-header .section-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  color: var(--color-basic9);
}
.bottom-sheet__wrap .sheet-content {
  overflow-y: scroll;
  padding: 0 24px;
  transition: all 0.3s;
  height: auto;
  max-height: 50vh;
}
.bottom-sheet__wrap .sheet-content .msg-text__wrap {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding-bottom: 24px;
}
.bottom-sheet__wrap.type-modal {
  display: none;
  bottom: 0;
  transition: all 0.3s;
}
.bottom-sheet__wrap.type-modal.is-collapsed {
  display: block;
}
.bottom-sheet__wrap.type-modal .sheet-header {
  padding: 24px;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-sheet__wrap.type-modal .sheet-header .section-title {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5rem;
  color: var(--color-black);
  flex: 1;
}
.bottom-sheet__wrap.type-modal .sheet-header .btn-close-x {
  width: 24px;
  height: 24px;
  background: url("../img/icon/close_icon24_gr.png") no-repeat;
  background-size: 24px auto;
}

.btm-dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 14;
  display: none;
}
.btm-dimmed.is-collapsed {
  display: block;
}

body.is-collapsed {
  overflow-y: hidden;
}

/* //fnb */
.fnb__wrap {
  height: 72px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  z-index: 15;
  transition: all 0.3s ease-in;
}

.fnb__wrap.hide {
  bottom: -72px;
  transition: all 0.3s ease-in;
}

.fnb-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fnb-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 25%;
}

.fnb-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

.fnb-list li a,
.fnb-list li a svg {
  opacity: 0.4;
}

.fnb-list li.is-active svg,
.fnb-list li.is-active a,
.fnb-list li a:hover,
.fnb-list li a:hover svg {
  opacity: 1;
  color: #000;
}

.animation-enter {
  opacity: 0;
  transform: translateY(20px);
}

.animation-enter.fade-in {
  animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}