/* common */
.main_wrap .main-font13-bold {
    font-size: calc(13 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(14 / 16 * 1rem);
} 
.main_wrap .main-font14-bold {
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(20 / 16 * 1rem);
    letter-spacing: -0.02em;
} 
.main_wrap .main-font18-exbold {
    font-size: calc(18 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(20 / 16 * 1rem);
    letter-spacing: -0.02em;
}
.main_wrap .main-font18-exbold02 {
    font-size: calc(18 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(20.43 / 16 * 1rem);
    letter-spacing: -0.01em;
}
.main_wrap .main-font18-exbold03 {
    font-size: calc(18 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(25 / 16 * 1rem);
    letter-spacing: -0.02em;
}
.main_wrap .main-font24-exbold {
    font-size: calc(24 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(30 / 16 * 1rem);
} 
.main_wrap .main-font20-exbold {
    font-size: calc(20 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(28 / 16 * 1rem);
    letter-spacing: -0.02em;
} 
.main_wrap .main-font20-bold {
    font-size: calc(20 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(26 / 16 * 1rem);
} 
.main_wrap .main-font40-exbold {
    font-size: calc(40 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(40 / 16 * 1rem);
}
.main_wrap [class*="btn-link"] i {
    width: calc(14 / 16 * 1rem);
    height: calc(14 / 16 * 1rem);
    display: block;
}
.main_wrap .btn-link i {
    background: url("../img/icon/right_icon14_bl.png") no-repeat center center;
    background-size: contain;
}
.main_wrap .btn-link-wh i {
    background: url("../img/icon/right_icon10_wh.png") no-repeat center center;
    background-size: contain;
} 
.main_wrap .more-btn {
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(20 / 16 * 1rem);
    display: flex;
    align-items: center;
    color: var(--color-basic10);
}
.main_wrap .more-btn i {
    width: calc(16 / 16 * 1rem);
    height: calc(16 / 16 * 1rem);
    background: url("../img/icon/plus_icon16_bl.png") no-repeat center center;
    display: block;
    background-size: contain;
}
/* custom */
.mainhome_wrap .main-welcome {
    margin: calc(20 / 16 * 1rem) 0 calc(16 / 16 * 1rem);
    padding: 0 calc(16 / 16 * 1rem);
}
.main-whbox {
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 3px 12px 0px #0000001A;
}
.mainhome_wrap .maincontract-box {
    padding: calc(20 / 16 * 1rem) calc(16 / 16 * 1rem) calc(16 / 16 * 1rem);
}
.mainhome_wrap .maincontract-box .maincontract-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.mainhome_wrap .maincontract-box dl.maincontract-middle {
    display: flex;
    align-items: center;
    margin: calc(21 / 16 * 1rem) 0;
}
.mainhome_wrap .maincontract-box dl.maincontract-middle > div {
    flex: 0 0 calc(100% / 3);
    display: flex;
    flex-direction: column;
    gap: calc(4 / 16 * 1rem);
    align-items: center;
    position: relative;
}
.mainhome_wrap .maincontract-box dl.maincontract-middle > div + div::before{
    content: '';
    position: absolute;
    width: calc(1 / 16 * 1rem);
    height: calc(100% - 8px);
    display: block;
    background-color: #E9E9E9;
    left: 0;
    top: calc(4 / 16 * 1rem);
}
.mainhome_wrap .maincontract-box dl.maincontract-middle.box-w50 > div {
    flex: 0 0 calc(100% / 2);
}
.mainhome_wrap .maincontract-box .maincontract-btm {
    border-radius: calc(12 / 16 * 1rem);
    padding: calc(10 / 16 * 1rem) calc(13 / 16 * 1rem) calc(10 / 16 * 1rem) calc(15 / 16 * 1rem);
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainhome_wrap .maincontract-box .maincontract-btm p {
    color: var(--color-white);
}
.mainhome_wrap .maincontract-loginbox {
    padding: calc(20 / 16 * 1rem);
}
.mainhome_wrap .maincontract-loginbox .maincontract-middle {
    margin-top: calc(8 / 16 * 1rem);
}
.mainhome_wrap .maincontract-loginbox .maincontract-middle .main-font18-exbold {
    line-height: calc(26 / 16 * 1rem);
}
.mainhome_wrap .maincontract-loginbox .login-underline {
    border-bottom: calc(1 / 16 * 1rem) solid var(--color-black);
}
.mainhome_wrap .maincontract-loginbox .maincontract-btm {
    display: flex;
    justify-content: flex-end;
    margin-top: calc(-4 / 16 * 1rem);
}
.mainhome_wrap .maincontract-loginbox .login-circle {
    width: calc(72 / 16 * 1rem);
    height: calc(72 / 16 * 1rem);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: calc(14 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(20 / 16 * 1rem);
}
.mainhome_wrap .maininsurance-box {
    padding: calc(20 / 16 * 1rem) calc(29 / 16 * 1rem) calc(28 / 16 * 1rem);
}
.mainhome_wrap .insurance-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(14 / 16 * 1rem);
}
.mainhome_wrap .insurance-menu li {
    flex: 0 0 calc(100% / 4);
}
.mainhome_wrap .insurance-menu p {
    font-size: calc(12 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(13.62 / 16 * 1rem);
    letter-spacing: -0.02em;
    text-align: center;
}
.mainhome_wrap .insurance-menu img {
    display: block;
    margin: 0 auto;
}
.mainhome_wrap .insurance-menu .insurance-each01 img {
    width: calc(31 / 16 * 1rem);
    height: calc(33 / 16 * 1rem);
    margin-bottom: calc(8 / 16 * 1rem);
}
.mainhome_wrap .insurance-menu .insurance-each02 img {
    width: calc(29 / 16 * 1rem);
    height: calc(33 / 16 * 1rem);
    margin-bottom: calc(8 / 16 * 1rem);
}
.mainhome_wrap .insurance-menu .insurance-each03 img {
    width: calc(33 / 16 * 1rem);
    height: calc(32 / 16 * 1rem);
    margin-bottom: calc(9 / 16 * 1rem);
}
.mainhome_wrap .insurance-menu .insurance-each04 img {
    width: calc(32 / 16 * 1rem);
    height: calc(30 / 16 * 1rem);
    margin-bottom: calc(9 / 16 * 1rem);
}
.mainhome_wrap .mainhealth-box {
    margin-top: calc(16 / 16 * 1rem);
    display: flex;
    flex-wrap: wrap;
    gap: calc(14 / 16 * 1rem) calc(12 / 16 * 1rem);
    object-fit: cover;
}
.mainhome_wrap .mainhealth-eachbox {
    flex: 0 0 calc(50% - 6px);
    background-color: var(--color-white);
    border-radius: calc(26 / 16 * 1rem);
    padding: calc(24 / 16 * 1rem) calc(18 / 16 * 1rem) calc(20 / 16 * 1rem) calc(16 / 16 * 1rem);
    box-shadow: 0px 3px 13px 0px #00000021;
    /* height: calc(184 / 16 * 1rem); */
    position: relative;
    aspect-ratio: 1 / 1.2;
}
.mainhome_wrap .mainhealth-eachbox p {
    font-size: calc(18 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(28 / 16 * 1rem);
    letter-spacing: -0.02em;
    word-break: keep-all;
}
.mainhome_wrap .mainhealth-eachbox .mainhealth-ani {
    width: fit-content;
    position: absolute;
    bottom: calc(20 / 16 * 1rem);
    right: calc(18 / 16 * 1rem);
}
.mainhome_wrap .mainhealth-eachbox img {
    display: block;
}
.mainhome_wrap .earth-icon {
    width: calc(60 / 16 * 1rem);
    height: calc(60 / 16 * 1rem);
    animation: icon-rotation360  2s linear infinite;
}
.mainhome_wrap .dumbbell-icon {
    width: calc(84.33 / 16 * 1rem);
    height: calc(84.33 / 16 * 1rem);
    transform: rotate(-33.03deg);
    animation: icon-sale 3s ease-in-out infinite;
}
.mainhome_wrap .calendar-icon {
    width: calc(79.22 / 16 * 1rem);
    height: calc(51.9 / 16 * 1rem);
    transform: rotate(-10.12deg);
    animation: icon-rotation10 3s ease-in-out infinite;
}
.mainhome_wrap .medicine-icon {
    width: calc(65.27 / 16 * 1rem);
    height: calc(58.24 / 16 * 1rem);
    transform: rotate(-8.84deg);
    animation: icon-rotation10  3s ease-in-out infinite;
}
.mainhome_wrap .mainhealth-ani-total {
    position: relative;
     width: calc(65.27 / 16 * 1rem);
    height: calc(58.24 / 16 * 1rem);
    animation: bounce 3s ease-in-out infinite;
}
.mainhome_wrap .medicine-icon01 {
    width: calc(38 / 16 * 1rem);
    height: calc(54 / 16 * 1rem);
    transform: rotate(-8.82deg);
    position: absolute;
    animation: bounce 3s ease-in-out infinite;
}
.mainhome_wrap .medicine-icon02 {
    width: calc(30 / 16 * 1rem);
    height: calc(32 / 16 * 1rem);
    position: absolute;
    transform: rotate(-8.84deg);
    right: calc(0 / 16 * 1rem);
    animation: bounce 3s ease-in-out infinite;
}
.mainhome_wrap .main-health_wrap {
    position: relative;
    padding: calc(88.91 / 16 * 1rem) calc(16 / 16 * 1rem) calc(50 / 16 * 1rem);
    overflow: hidden;
}
/* .mainhome_wrap .main-health_wrap::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background: url("../img/icon/main_health_bg.png") no-repeat center;
    background-size: contain;
    object-fit: cover;
} */
.mainhome_wrap .main-health_wrap::before {
    width: 117.3333vw;
    height: 81.3333vw;
    /* width: 117%;
    height: 50%; */
    /* width: 440px; */
    /* height: 305px; */
    transform: rotate(10deg);
    background: #FF9438;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    bottom: 3%;
    position: absolute;
    left: calc(-16 / 16* 1rem);
    z-index: -1;
    content: '';
    position: absolute;
}
.mainhome_wrap .main-health_wrap::after {
    width: 117.3333vw;
    height: 76.2667vw;
    /* width: 117%;
    height: 50%; */
    /* width: 440px; */
    /* height: 286px; */
    transform: rotate(48deg);
    background: #FF9438;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    bottom: 35%;
    position: absolute;
    right: -45%;
    z-index: -1;
    content: '';
    position: absolute;
}
.mainhome_wrap .swipertop-box {
    margin-bottom: calc(16 / 16 * 1rem);
    display: flex;
    justify-content: space-between;
    padding: 0 calc(16 / 16 * 1rem);
}
.mainhome_wrap .heart-swiper, .mainhome_wrap .product-swiper {
    padding-left: calc(16 / 16 * 1rem);
}
.mainhome_wrap .product-swiper {
    padding-bottom: calc(50 / 16 * 1rem);
}
.mainhome_wrap .main-product_wrap {
    margin-top: calc(50 / 16 * 1rem);
}
.mainhome_wrap .product-swiper .swiper-slide {
    margin-top: calc(12 / 16 * 1rem);
}
.mainhome_wrap .product-swiper .product-box {
    position: relative;
    padding: calc(50 / 16 * 1rem) calc(20 / 16 * 1rem) calc(60 / 16 * 1rem);
    border-radius: calc(20 / 16 * 1rem);
    box-shadow: 0 calc(3 / 16 * 1rem) calc(12 / 16 * 1rem) 0 #0000001A;
}
.mainhome_wrap .product-swiper .product-box.number-one {
    box-shadow: 0 0 0 calc(2 / 16 * 1rem) inset var(--color-primary);
}
.mainhome_wrap .product-swiper .product-ranking {
    position: absolute;
    background: url("../img/main/main_ranking_bg.png") no-repeat center center;
    width: calc(40 / 16 * 1rem);
    height: calc(40 / 16 * 1rem);
    top:calc(-12 / 16 * 1rem);
    background-size: 100%;
}
.mainhome_wrap .product-swiper .product-box.number-one .product-ranking {
    background: url("../img/main/main_ranking01_bg.png") no-repeat center center;
    background-size: 100%;
}
.mainhome_wrap .product-swiper .product-ranking span {
    font-size: calc(16 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(22 / 16 * 1rem);
    display: inline-block;
    color: var(--color-white);
    width: calc(34 / 16 * 1rem);
    height: auto;
    padding: 7px 5px 11px 4px;
    padding: calc(7 / 16 * 1rem) calc(5 / 16 * 1rem) calc(11 / 16 * 1rem) calc(4 / 16 * 1rem);
}
.mainhome_wrap .product-swiper .product-inner dt + dd {
    margin-top: calc(8 / 16 * 1rem);
    color: var(--color-basic7);
}
/* 헬스 메인 */
.mainhealth_wrap .level_wrap {
    padding: 0  calc(16 / 16 * 1rem);
}
.mainhealth_wrap .level-box{
    padding: calc(24 / 16 * 1rem);
}
.mainhealth_wrap .level-barbox {
    position: relative;
    width: 100%;
    padding-top: calc(24 / 16 * 1rem);
}
.mainhealth_wrap .level-bar {
    position: relative;
    width: 100%;
    display: block;
    border-radius: calc(24 / 16 * 1rem);
    height: calc(26 / 16 * 1rem);
    background: linear-gradient(90deg, #DC5248 0%, #FBEB56 50.81%, #5DE68C 99%);
    margin-bottom: calc(13 / 16 * 1rem);
}
.mainhealth_wrap .level-bar::after {
    position: absolute;
    content: '';
    width: calc(2 / 16 * 1rem);
    height: calc(26 / 16 * 1rem);
    background: url("../img/main/main_dashed.png") no-repeat center center;
    background-size: cover;
    top: 0;
    right: 50%;
}
.mainhealth_wrap .my-level {
    display: block;
    height: calc(26 / 16 * 1rem);
    border-right: calc(2 / 16 * 1rem) solid #424242;
    background: transparent;
    animation: myLevelMove 1.8s ease forwards;
}
.mainhealth_wrap .myposition {
    display: none;
    opacity: 0;
    position: relative;
    animation: opacityLevel 1.5s linear forwards;
}
.mainhealth_wrap .myposition::after {
    width: 100%;
    display: block;
    width: calc(56 / 16 * 1rem);
    height: calc(34 / 16 * 1rem);
    background: url("../img/main/main_mylevel_icon56.png") no-repeat center center;
    background-size: cover;
    content: '';
    position: absolute;
    right: calc(-29 / 16 * 1rem);
    top: calc(-37 / 16 * 1rem);
}
.mainhealth_wrap .level-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: calc(0 / 16 * 1rem);
}
.mainhealth_wrap .level-bar p.main-font14-bold {
    letter-spacing: 0;
}
.main-contract_wrap, .main-insurance_wrap {
    padding: 0 calc(16 / 16 * 1rem);
}
.main-contract_wrap {
    margin-bottom: calc(16 / 16 * 1rem);
}
.mainhealth_wrap .routine-top {
    display: flex;
    justify-content: space-between;
    padding: calc(30 / 16 * 1rem) calc(30 / 16 * 1rem) 0;
}
.mainhealth_wrap .routine-chk {
    display: block;
    width: calc(26 / 16 * 1rem);
    height: calc(26 / 16 * 1rem);
    position: relative;
}
.mainhealth_wrap .routine-chk.ing {
    background: url("../img/main/main_routine_chking.png") no-repeat center;
    background-size: contain;
}
.mainhealth_wrap .routine-chk.not-ing {
    background: url("../img/main/main_routine_notchk.png") no-repeat center;
    background-size: contain;
}
.mainhealth_wrap .swiper-slide {
    border-radius: calc(26 / 16 * 1rem);
    background-color: var(--color-white);
    box-shadow: 0px calc(2 / 16 * 1rem) calc(8 / 16 * 1rem) 0px #242D3C1A;
}
.mainhealth_wrap .swiper-slide-active {
    border: calc(1 / 16 * 1rem) solid var(--color-primary);
}
.mainhealth_wrap .routine-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(20 / 16 * 1rem) auto 0;
    gap: calc(10 / 16 * 1rem);
    max-width: calc(200 / 16 * 1rem);
    padding: 0 calc(30 / 16 * 1rem) calc(50 / 16 * 1rem);
}
.mainhealth_wrap .routine-middle .routine-img {
    display: block;
    width: calc(200 / 16 * 1rem);
    height: calc(193 / 16 * 1rem);
    position: relative;
}
.mainhealth_wrap .chip {
    font-size: calc(14 / 16 * 1rem);
    line-height: calc(14 / 16 * 1rem);
}
.mainhealth_wrap .routine-middle .routine-bigtit {
    font-size: calc(20 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(22.7 / 16 * 1rem);
    letter-spacing: -0.01em;
    color: var(--color-basic10);
    text-align: center;
}
.mainhealth_wrap .routine-middle .routine-subtit {
    font-size: calc(14 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(15.89 / 16 * 1rem);
    letter-spacing: -0.01em;
    color: var(--color-basic7);
    text-align: center;
    margin-top: calc(6 / 16 * 1rem);
}
.mainhealth_wrap .myactive_wrap {
padding: 0 calc(16 / 16 * 1rem);
}
.mainhealth_wrap .myactive-box {
    margin-top: calc(13 / 16 * 1rem);
    display: flex;
    flex-wrap: nowrap;
    gap: calc(11 / 16 * 1rem);
}
.mainhealth_wrap .myactive-col01,
.mainhealth_wrap .myactive-col02 {
    display: flex;
    flex-direction: column;
    gap: calc(12 / 16 * 1rem);
    flex: 0 0 calc(50% - 6px);
}
.mainhealth_wrap .myactive-col01 > div:not(.myactive-add),
.mainhealth_wrap .myactive-col02 > div {
    box-shadow: 0px 3px 12px 0px #0000001A;
    border-radius: calc(20 / 16 * 1rem);
    background-color: var(--color-white);
    padding: calc(24 / 16 * 1rem) calc(20 / 16 * 1rem) 0;
}
.mainhealth_wrap .myactive-col01 > div.myactive-cal {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-bottom: calc(35 / 16 * 1rem);
}
.mainhealth_wrap .myactive-top {
    font-size: calc(14 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(15.89 / 16 * 1rem);
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(5 / 16 * 1rem);
}
.mainhealth_wrap .myactive-cal .myactive-top {
    margin-bottom: calc(13 / 16 * 1rem);
}
.mainhealth_wrap .myactive-cal .circlebar_total {
    justify-content: center;
    width: calc(125 / 16 * 1rem);
    height: calc(125 / 16 * 1rem);
    margin: 0 auto;
}
.myactive-result {
    font-family: Pretendard;
    font-size: calc(28 / 16 * 1rem);
    font-weight: 600;
    line-height: calc(25 / 16 * 1rem);;
    letter-spacing: -0.02em;
}
.myactive-result .unit-txt {
    font-family: NanumSquare;
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(25 / 16 * 1rem);
    letter-spacing: -0.02em;
    margin-left: calc(2 / 16 * 1rem);
}
.mycal-txt .circlebar_txt {
    position: absolute;
    top: 42%;
    color: var(--color-white);
    text-align: right;
    font-family: NanumSquare;
    font-size: calc(28 / 16 * 1rem);
    font-weight: 800;
    line-height: calc(25 / 16 * 1rem);
    letter-spacing: -0.02em;
    width: 100%;
    text-align: center;
    left: 0;
}
.mycal-txt .unit-txt {
    position: absolute;
    top: 50%;
    color: var(--color-white);
    font-family: NanumSquare;
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(25 / 16 * 1rem);
    letter-spacing: -0.02em;
    width: 100%;
    text-align: center;
    left: 0;
    margin-left: 0;
}
.circlebar-type1 .circle-border, .circlebar-type1 .circle-progress {
    stroke: var(--color-white);
}
/* [class*="TrialMarkBox"]{
    display: none !important;
}
.rMateH5__BackgroundElementHolder, 
.rMateH5__AnnotationElementHolder, 
.rMateH5__CanvasElementHolder, 
.rMateH5__SeriesHolder, .rMateH5__Main div {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
} */
/* 체중 차트 */
/* vw */
.mainhealth_wrap .myactive-col01 > div.myactive-weight {
    padding-bottom: calc(28 / 16 * 1rem);
}
.mainhealth_wrap .weight-chart {
    display: flex;
    flex-direction: column;
    gap: calc(5 / 16 * 1rem);
    max-width: 30.4vw;
    margin: calc(14 / 16 * 1rem) auto 0;
}
.mainhealth_wrap .weight-chart .chart-box, .mainhealth_wrap .weight-chart .chart-txt {
    display: flex;
    gap: calc(8 / 16 * 1rem);
    align-items: flex-end;
    justify-content: space-between;
}
.mainhealth_wrap .weight-chart .chart-txt {
    font-family: Pretendard;
    font-size: calc(10 / 16 * 1rem);
    font-weight: 500;
    line-height: calc(11.93 / 16 * 1rem);
    letter-spacing: -0.02em;
    text-align: center;
}
.mainhealth_wrap .chart-txt p {
    width: 4.5333vw;
}
.mainhealth_wrap [class*="weight-bar"] {
    width: 4.5333vw;
    background-color: #EDEDED;
    border-radius: 3.2vw;
    display: block;
    animation: weightBar 1.8s ease forwards;
}
.mainhealth_wrap .weight-bar05 {
    background: linear-gradient(180deg, #FF720D 0%, #FFA05B 100%);
}
/* px */
.weight-chart.px-chart {
    display: flex;
    flex-direction: column;
    gap: calc(5 / 16 * 1rem);
    margin: calc(14.5 / 16 * 1rem) auto 0;
}
.weight-chart.px-chart .chart-box, .weight-chart.px-chart .chart-txt {
    display: flex;
    gap: calc(8 / 16 * 1rem);
    align-items: flex-end;
    justify-content: center;
}
.weight-chart.px-chart .chart-txt {
    font-family: Pretendard;
    font-size: calc(10 / 16 * 1rem);
    font-weight: 500;
    line-height: calc(11.93 / 16 * 1rem);
    letter-spacing: -0.02em;
    text-align: center;
}
.weight-chart.px-chart .chart-txt p {
    width: calc(17 / 16 * 1rem);
}
.px-chart [class*="weight-bar"] {
    width: calc(17 / 16 * 1rem);
    background-color: #EDEDED;
    border-radius: calc(12 / 16 * 1rem);
    display: block;
}
.mainhealth_wrap .myactive-weight {
    height: calc(207 / 16 * 1rem);
}
.mainhealth_wrap .myactive-nutr {
    height: calc(135 / 16 * 1rem);
}
.mainhealth_wrap .myactive-add {
    height: calc(60 / 16 * 1rem);
    border-radius: calc(20 / 16 * 1rem);
    background-color: #F2F1F1;
    position: relative;
}
.mainhealth_wrap .myactive-add::before {
    position: absolute;
    width: calc(16 / 16 * 1rem);
    height: calc(16 / 16 * 1rem);
    background: url(../img/icon/plus_icon16_gr.png) no-repeat center center;
    content: '';
    display: block;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
}
/* 말풍선 */ 
.anibubble_wrap.animation-enter {
    transform: translateY(0);
}
.anibubble_wrap {
    opacity: 0;
}
.anibubble_wrap.bubble-js.anibubble-right {
    animation: rightMove 0.5s ease forwards;
    animation-delay: 0.5s;
}
.anibubble_wrap.bubble-js.anibubble-left {
    animation: leftMove 0.5s ease forwards;
    animation-delay: 0.5s;
}
.anibubble_wrap.bubble-js.anibubble-opacity {
    animation: opacityLevel 1.5s ease forwards;
    animation-delay: 1.5s;
}
.anibubble_wrap.bubble-js.anibubble-opacity02 {
    animation: opacityFadeOut 5s ease forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.anibubble_wrap {
    display: flex;
    align-items: center;
    gap: calc(2 / 16 * 1rem);
    position: relative;
}
.anibubble_wrap.anibubble-right {
    justify-content: flex-end;
}
.anibubble_wrap.anibubble-left {
    justify-content: flex-start;
}
.anibubble_wrap.anibubble-opacity {
    justify-content: flex-end;
}
.anibubble_wrap .bubble-img {
    width: calc(56 / 16 * 1rem);
    height: calc(75 / 16 * 1rem);
}
/* 제목 + 말풍선 */
.animation-title {
    display: flex;
    gap: calc(8 / 16 * 1rem);
}
/* keyframe common */
@keyframes icon-rotation360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes icon-rotation10 {
    0%, 50%, 100% {
        transform: rotate(-10.12deg);
    }
    25%, 75% {
        transform: rotate(10.12deg);
    }
}
@keyframes icon-sale {
    0% {
        transform: scale(1) rotate(-33.03deg);
    }
    100% {
        transform: scale(1.1) rotate(-33.03deg);
    }
}
@keyframes myLevelMove {
    0% {
        width: 0;
    }
    100% {
        width: var(--level-width, 60%);
    }
}
@keyframes opacityLevel {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacityFadeOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes rightMove {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-12px);
    }
}
@keyframes leftMove {
    from {
        opacity: 0;
        left: -10%;
    }
    to {
        opacity: 1;
        left: 16px;
    }
}
@keyframes weightBar {
    0% {
        height: 0;
    }
    100% {
        height: var(--weight-height, 60%);
    }
}