/*
    변수값을 정의하는 css 
*/
@charset "utf-8";
:root {
    /* color */
    --color-primary: #f58220;
    --color-secondary: #043b72;
    --color-white: #fff;
    --color-black: #000;

    --color-basic10: #212121;
    --color-basic9: #424242;
    --color-basic8: #616161;
    --color-basic7: #757575;
    --color-basic6: #999;
    --color-basic5: #bdbdbd;
    --color-basic4: #ccc;
    --color-basic3: #e0e0e0;
    --color-basic2: #efefef;
    --color-basic1: #fafafa;

    --color-primary-active: #c4681a;
    --color-primary-disabled: #e0e0e0;
    --color-secondary-active: #021d39;
    --color-secondary-disabled: #999;
    --Neutral-09_424242: #424242;

    --color-primary-netural: #ffe5cd;

    --color-basic0: #f0f0f0;
    /* base width */
    --width: 750;
    --deviceWidth: 323px;

    /* font */
    --fontMain: "NanumSquare", "Malgun Gothic", "맑은고딕", sans-serif;

    /* text color */
    --error-color: #ff4d4d;
    --sucess-color: #5ca7ff;
    --green-color: #7ce778;

    /* effect */
    --border-radius-12: 12px;
    --border-radius-14: 14px;

    /* badge */
    --color-primary-light: #fef3e9;
    --color-green-light: #f2fdf2;
    --color-blue-light: #f2fafd;
    --color-green-full: #7ce778;
    --color-blue-light: #f2fafd;
    --color-blue-full: #5ca7ff;
    --color-bg-violet: #6a5acd;

    --color-pink: #FE447D;
    --color-purple: #9F24FF;

    /* table */
    --table-border: 1px solid #e2e3e7;
    --table-th-bg: #f9f9f9;
    --th-font-size: 18px;
    --th-line-height: 21px;
    --th-ft-color: #222;
    --th-font-weight: 600;
    --th-align-c: center;
    --th-height: 65px;
    --th-padding-top-bottom: 22px;
    --th-padding-side: 0px;
    --table-border-color: #e2e3e7;
    --td-ft-color: #5a5c5f;
    --td-ft-size: 18px;
    --td-ft-line-height: 21px;
    --td-padding-top-bottom: 22px;
    --td-padding-side: 0px;
    --tbody-th-bg-color: #f9f9f9;
    --tbody-th-side: 16px;
    --tbody-td-side: 16px;
    --table-td-text-left: left;

    /* dropdown */
    --dropdown-border: 1px solid #e8e8e8;
    --dropdown-bg: #fff;
    --dropdown-hover-bg: #efefef;
    --dropdown-text-color: #000;
    --dropdown-arrow-size: 6px;
    --dropdown-border-radius: 12px;

    /* tag */
    --tag-bg: #EBF4FF;

    /* tabs */
    --tab-btns-padding-vertical: calc(12 / 16 * 1rem);
    --tab-btns-padding-horizontal: calc(16 / 16 * 1rem);
    --tab-btn-hover-focus-active-bg: #f58220;
    --tab-btn-hover-focus-active-color: #fff;
    --tab-btn-default-bg: #f8f9fc;
    --tab-btn-default-color: #8b929a;
    --tab-btn-padding:8px 12px;
    --tab-btn-border-radius: 90px;
    --tab-btn-font-size: calc(12 / 16 * 1rem);
    --tab-btn-font-family: "NanumSquare";
    --tab-btn-font-weight: 700;
    --tab-btn-gap: 6px;
    --tab-pane-padding: calc(6 / 16 * 1rem);
    --tab-btn-font-line-height: calc(20 / 16 * 1rem);

    /* tab icon type */
    --tab-btn-type-icon-bg: #fff;    
}

/* rem 사용 예시  */
