/*
    변수값을 정의하는 css 
*/
@charset "utf-8";
:root {
    /* color */
    --color-primary: #F58220;
    --color-secondary: #043B72;
    --color-white: #fff;
    --color-black: #000;

    --color-basic10: #191F28;
    --color-basic9: #424242;
    --color-basic8: #616161;
    --color-basic7: #757575;
    --color-basic6: #999;
    --color-basic5: #BDBDBD;
    --color-basic4: #CCC;
    --color-basic3:#E8E8E8;    
    --color-basic2: #EFEFEF;    
    --color-basic1: #FAFAFA;    

    --color-primary-active: #C4681A;
    --color-primary-disabled: #E0E0E0;

    --Neutral-09_424242: #424242;

    /* base width */
    --width: 750;
    --deviceWidth: 323px;

    /* font */
    --fontMain: "NanumSquare", "Malgun Gothic", "맑은고딕", sans-serif;

    /* effect */
    --border-radius-12: 12px;

    /* badge */
    --color-primary-light: #FEF3E9;
    --color-green-light: #F2FDF2;
    --color-blue-light: #F2FAFD;
    --color-green-full: #7CE778;
    --color-blue-light: #F2FAFD;
    --color-blue-full: #5CA7FF;
    --color-bg-violet: #6A5ACD;

    /* table */
    --table-border: 1px solid #e2e3e7;
    --table-th-bg: #f9f9f9;
    --th-font-size: 18px;
    --th-line-height: 21px;
    --th-ft-color: #222;
    --th-font-weight: 600;
    --th-align-c: center;
    --th-height: 65px;
    --th-padding-top-bottom: 22px;
    --th-padding-side: 0px;
    --table-border-color: #e2e3e7;
    --td-ft-color: #5a5c5f;
    --td-ft-size: 18px;
    --td-ft-line-height: 21px;
    --td-padding-top-bottom: 22px;
    --td-padding-side: 0px;
    --tbody-th-bg-color: #f9f9f9;
    --tbody-th-side: 16px;
    --tbody-td-side: 16px;
    --table-td-text-left: left;

    /* dropdown */
    --dropdown-border: 1px solid #e8e8e8;
    --dropdown-bg: #fff;
    --dropdown-hover-bg: #efefef;
    --dropdown-text-color: #000;
    --dropdown-arrow-size: 6px;
    --dropdown-border-radius: 12px;
}

/* rem 사용 예시  */
.test {
    padding: calc(26 / var(--width) * var(--deviceWidth)) calc(30 / var(--width) * var(--deviceWidth));
    font-size: calc(26 / var(--width) * var(--deviceWidth));
    line-height: calc(28 / var(--width) * var(--deviceWidth));
}
