/*
    변수값을 정의하는 css 
*/
@charset "utf-8";
:root {
    /* color */
    --color-primary: #1e90ff;
    --color--secondary: #FFA800;
    --color-black: #222;
    --color-gray01: #5A5C5F;
    --color-gray02: #909293;
    --color-gray03: #AFB5BC;
    --color-gray04: #CFD4DA;
    --color-gray05: #E2E3E7;
    --color-gray06: #EFF0F2;
    --color-gray07: #F8F9FA;    
    --color-point-danger: #FF4135;
    --color-point-warning: #FF7A00;

    --ma-key-orange: #F58220;
    --ma-key-blue: #043B72;

    /* base width */
    --width: 750;
    --deviceWidth: 323px;

    /* font */
    --fontMain: 'NanumSquare', 'Malgun Gothic', '맑은고딕', sans-serif;
}

/* rem 사용 예시  */
.test {padding: calc(26 / var(--width) * var(--deviceWidth)) calc(30 / var(--width)* var(--deviceWidth));font-size: calc(26 / var(--width) * var(--deviceWidth));line-height: calc(28 / var(--width) * var(--deviceWidth));}